[2016-07-11 01:53] yurishkuro opened #4 "Crossdock build pulls too many dependencies"
From the build log, the following dependencies are all pulled into the container

That seems like an overkill, especially all the testing deps which are probably not used during the crossdock run.

@thepaulm

[2016-07-11 02:05] yurishkuro opened #5 "Travis build does not push docker image to docker hub"
https://travis-ci.org/uber/jaeger-client-python/builds/143789227

[code]

cc @thepaulm

[2016-08-26 21:40] yurishkuro opened #14 "Include Java image in crossdock tests"

[2016-08-26 22:56] #5 closed

[2016-08-29 14:43] #14 closed

[2016-10-26 18:32] yurishkuro opened #22 "Test handling of tags with Unicode characters"
What happens during thrift serialization if tags contain Unicode characters?

Cf. https://github.com/lightstep/lightstep-tracer-python/pull/21

[2017-02-15 14:26] philipgian opened #31 "Make dependency on tornado/threadloop optional"
I would like to use jaeger-client as an opentracing tracer with zipkin.
I've already completed a proof-of-concept integration, and I fully intend to release the Zipkin codec and Zipkin reporter as soon as they are ready.

My goal is to use the client on a Django/Gunicorn/Greenlet environment, so I would like to know if there is any possibility to make the tornado/threadloop dependencies optional.

[2017-02-15 16:34] yurishkuro commented on #31
I don't have objections to this approach. However, what happens to `requirements.txt` in this case? Would we need to include all different frameworks in there? Or do we put them only in test requirements and tell the users that they need to depend on the correct module?

[2017-02-15 17:15] philipgian commented on #31
The second solution was what I had in mind. We could require all the dependencies only for the tests and "recommend" to the users the right dependencies, issuing appropriate warning messages or raising an exception if one tries to use the tornado reporter without having tornado in the python path.

Another more bureaucratic approach is to create another python package just for the framework specif

[2017-04-26 12:57] drzero42 opened #41 "SyntaxError in Python 3"
The function codecs.span_context_to_string has the following line in it:

`parent_id = parent_id or 0L`

This is invalid syntax in Python 3 as per [PEP 237](https://www.python.org/dev/peps/pep-0237/), as can be seen here:
`SyntaxError: invalid syntax
 Traceback (most recent call last):
   File "/usr/local/lib/python3.6/site-packages/jaeger_client/__init__.py", line 32, in <module>
     from .trace

[2017-04-26 13:19] drzero42 commented on #41
Okay, it seems there are various Python 3 incompatibilities in here. My guess is that this is because of Thrift? From what I can see Thrift is Python 3 compatible from version 0.10.0.
What would be needed to get jaeger_client to be Python 3 compatible?

[2017-04-26 16:16] yurishkuro commented on #41
the setup.py does not pin thrift to 0.9, and if I look at the latest build from master, I can see that it is in fact thrift 0.10 that is installed. The crossdock test includes an end-to-end test where the client communicates with jaeger-agent, so I think it is safe to assume using thrift-0.10 is fine and compatible with Jaeger backend (even if jaeger-agent is using 0.9)

[2017-05-02 21:50] xdralex commented on #41
@drzero42 @yurishkuro I think I have fixed most of the incompatibilities in #43 - feel free to take a look.

[2017-05-17 17:46] bharat-p opened #46 "Allow to change service name when creating new Span"
At present "service_name" is set during tracer initialization and service name set at tracer level is used as service_name when reporting a span.
It would be better if user can be allowed to change (override) "service_name" when creating a new span.

Why?
It will allow developers to change service_name for spans created to track a remove server call.
E.g. While handling an API call from a service

[2017-05-17 17:52] yurishkuro commented on #46
the name of the remote server should be set on the span as `peer.service`. Typically each RPC call is represented by two spans, one in the calling service (span.kind=client), and the other in the called service (span.kind=server). The "service name" remains constant in each service and tells which service emitted which span.

[2017-05-17 21:41] bharat-p commented on #46
Thanks for that explanation, "peer.service" is set as a tag on span? I am setting tag "peer.service" on my span, but I don't see this in Jaeger UI.

[2017-05-17 21:51] yurishkuro commented on #46
Yes, it's one of the standard tags (there are constants for them in opentracing lib). You need to click on the span to expand its details to see the tags

![image](https://cloud.githubusercontent.com/assets/3523016/26177818/587333cc-3b29-11e7-8bc9-3c4af132d945.png)

[2017-05-17 22:06] bharat-p commented on #46
Hmm, interesting I don't see in on my end. BTW, I am using `jaegertracing/all-in-one:latest` to log and view the traces. I did confirm that `peer` property on `span` object has correct values and trace JSON on Jaeger UI is also not showing any tag named `peer.service` any other custom tags I put from my app are showing there

[2017-05-18 02:31] yurishkuro commented on #46
This could be a bug in the backend. The Python client currently uses `zipkin.thrift` format to emit spans, which is internally transformed to Jaeger data model, and because Zipkin represents peer service in a different way, the transformation from zipkin to Jaeger format should reconstruct the `peer.service` tag.

[2017-05-18 15:34] yurishkuro commented on #46
Withdrawing my comment about the bug in the backend - I just checked a few of our internal services that use Go client, which also sends zipkin.thrift at this time, and they all show peer.service tags fine.

[2017-05-18 16:03] bharat-p commented on #46
Thanks @yurishkuro  for checking and confirming that. I will do some additional debugging on my end.

[2017-05-18 16:51] yurishkuro commented on #46
You may want to run a tcpdump on the UDP port and check what kind of strings are being included in thrift

[2017-05-19 11:37] nlamirault opened #47 "How to set Jaeger endpoint"
Hi, i try to use the python version of the jaeger client.
 In go i do that to create the tracer :

[code]

How do that in Python ?
Thanks

[2017-05-19 15:02] yurishkuro commented on #47
The address of the agent is configured automatically (in Go as well), you do not need to provide it in the configuration. If you still really want to, you can override the port via:
[code]

[2017-05-22 07:38] nlamirault commented on #47
OK.
But i would like to use the jaeger all-in-one image.  :

[code]

It's not on the same host.

[2017-05-22 14:37] yurishkuro commented on #47
I think Python client doesn't support talking to an agent on another host (it's also not recommended because clients use UDP to send the packets, which won't be lossless, unlike when talking over the loopback interface).

A quick fix would be to extend Python client to support `reporting_host_port` config param as an alternative to just the port.

Longer term, we are having ongoing discussions abo

[2017-05-23 17:12] bharat-p commented on #46
So I did run 'tcpdump' and confirmed `peer.service` tag is not getting propagated. I confirmed by switching to zipkin based tracing ( using py_zipkin) that all tags I am setting including ( peer.*) are making their way to zipkin.

[2017-05-23 17:49] black-adder commented on #46
It's probably this: https://github.com/uber/jaeger-client-python/blob/master/jaeger_client/span.py#L195

It looks like we do special handling for some opentracing tags in python (ie. we remove them but set the zipkin equivalent on the zipkin endpoint). On the backend, we should be converting the zipkin endpoint service name back into the peer.service tag though. Since you're not seeing that occur,

[2017-05-23 17:56] bharat-p commented on #46
Looks like based on comment on https://github.com/uber/jaeger-client-python/blob/master/jaeger_client/span.py#L239 , this https://github.com/uber/jaeger-client-python/blob/master/jaeger_client/span.py#L201 should be changed to False?

[2017-05-23 18:01] bharat-p commented on #46
Let me try making above change and testing it again, if it works will submit a PR

[2017-05-23 18:03] black-adder commented on #46
Given the way the backend zipkin to jaeger model conversion happens, we will be double reporting the same opentracing tags if we change it to False (granted the bug is fixed).

[2017-05-23 18:05] bharat-p commented on #46
Ok, confirmed setting it to False does indeed make it work.
![screen shot 2017-05-23 at 11 04 23 am](https://cloud.githubusercontent.com/assets/13206972/26368845/b38a06f0-3fa7-11e7-992c-8dbd2fe69f7a.png)

[2017-05-23 18:06] black-adder commented on #46
Are you setting the span.kind tag by any chance? If not can you try setting it?

[2017-05-23 18:07] bharat-p commented on #46
No I am not, but I can try to set it.

[2017-05-23 18:12] bharat-p commented on #46
Ok, if I set `span.kind` = `client` it does show up in Jaeger UI. So it seems you are right, setting False might not be the right fix and it must be an issue with Thrift conversion or somewhere else.

[2017-05-23 18:16] black-adder commented on #46
https://github.com/uber/jaeger-client-python/blob/master/jaeger_client/thrift.py#L149 If the span doesn't contain span.kind tag, we consider it a local component which according to opentracing semantics cannot have a peer service tag (because all the work occurs within the same service).

So you have to set the span.kind tag for all your incoming and outgoing spans for the peer.service tag to be s

[2017-05-23 18:17] bharat-p commented on #46
Aah ok, thanks for clarifying that.

[2017-05-23 18:17] #46 closed

[2017-05-24 09:12] longXboy commented on #47
When an application is  running in docker container, i can't communicate with the jaeger client by using localhost.So providing an `reporting_host` will be a good choice.

[2017-05-25 15:16] yurishkuro opened #50 "Tracer.close() is not fully synchronous"
It was meant to be fully synchronous to guarantee that all spans are flushed, however it only blocks until the spans are handed off to the sender, which itself is async, so if `close()` is used from a command line tool or a hello-world app that exist immediately, the spans may not have time to flush to UDP port.

[2017-07-06 07:47] tovin07 opened #56 "Should span_id be a parameter of Tracer.start_span()?"
HI,

I see that both jeaeger [1] and basictracer [2] generate ID for new span inside Tracer.start_span().
Which mean that we cannot control the ID from outside.
However, with SpanContext and Span we can put an ID to that.
Therefore, what is the reason for us to make new span ID not controllable?

Currently, my app already had an uuid4 ID for a span. There are 02 options to make uuid4 ID (128 bit)

[2017-07-06 13:31] yurishkuro commented on #56
What is the origin of your custom span id?

[2017-07-07 03:32] tovin07 commented on #56
In OpenStack, there is a library with some similar ideas with OpenTracing.
It's OSprofiler, it's ID is UUID4.
I want to make it compatible with OpenTracing => Issue appears.

[2017-07-07 03:44] yurishkuro commented on #56
What provides instrumentation of the operations, OSprofiler library or OpenStack itself? Do you have references to its API?

I think it would be better to actually use OpenTracing API as intended. If OSprofiler instrumentation already conceptually similar, it may be possible to write a bridge from its API to OpenTracing API. Then you won't need to hack the implementations of OpenTracing (like Jaeg

[2017-07-09 21:49] yurishkuro opened #59 "Support Python 3.x"
Related: #41, #43, #57

[2017-07-10 08:37] tovin07 commented on #56
Oh thanks!
I understood your point.

I will ask if I have any other issues :smile:

However, I think that we can control span_id from outside of tracer.start_span() is a good idea (instead of replace span.span_id after create it).

[2017-07-10 08:37] #56 closed

[2017-07-10 09:45] MrSaints commented on #59
Remaining steps (in order of severity):

- [ ] Upgrade Thrift for Python 3 support _(I believe this is not going to be a backwards compatible change)_
- [ ] Fix `make test` errors [0]
- [ ] `opentracing_instrumentation` is not Python 3 compatible, and it is a `tests` requirement (`ModuleNotFoundError: No module named 'urlparse'`)

[0] Some test errors / failures that needs resolving:

- `opentraci

[2017-07-10 09:51] MrSaints commented on #47
I believe this, and https://github.com/uber/jaeger-client-python/pull/49 are addressed in https://github.com/uber/jaeger-client-python/pull/49

[2017-07-10 10:59] MrSaints opened #60 "Stuck / hangs at `Initializing Jaeger Tracer with UDP reporter`"
I'm running the latest version of the client. When `initialize_tracer()` is called, it gets stuck / hangs at `Initializing Jaeger Tracer with UDP reporter`.

I'm running the agent in another Docker container that is bound to `localhost` ports, so it should be able to connect _(I even changed the reporting host to my internal IP, rather than `localhost`)_.

EDIT: So, this is for my web app, it work

[2017-07-10 17:45] yurishkuro commented on #60
can you get a stack trace of where it's hanging?

[2017-07-10 17:59] yurishkuro commented on #59
As far as Thrift upgrade, we currently require unbound `thrift`. If possible, I would like to keep it this way, and install different versions in the Travis matrix build. If we need to regenerate the files under `jaeger_client/thrift_gen`, then we may need to create subdirs for different Thrift versions.

The main reason for this is that many services at Uber pin Thrift to older versions, and pip-

[2017-07-11 13:38] MrSaints commented on #60
**Threads:**

[code]

**C Stack Trace:**

[code]

I wasn't able to get the Python stack trace unfortunately.

[2017-07-11 14:02] yurishkuro commented on #60
can share a minimum example to reproduce?

[2017-07-25 23:57] dsludwig commented on #59
I've got a collection of patches that I used to make `jaeger-client 3.4.0` and `opentracing_instrumentation 2.2.0` run on Python 3, attached here. A number of these were covered by #57, but there are a few that are not. I was only trying to support Python 3 rather than both, so they're not applicable as-is, but hopefully this helps!

[code]

[code]

[2017-07-26 00:04] yurishkuro commented on #59
@dsludwig interesting - so you did not have to upgrade thrift-generated classes, just fix them up a bit? Or did you still have to use higher version of thrift?

[2017-07-26 00:39] dsludwig commented on #59
I still needed a higher version of thrift at runtime, but I did not end up regenerating the thrift classes.

[2017-07-27 03:43] yurishkuro commented on #59
That's good to know. I started applying your patch to `opentracing_instrumentation` but got too busy with other things. Want to get that out of the way first.

[2017-07-30 11:03] trtg commented on #60
I'm encountering this same issue when trying to integrate an application running under tornado but as a WSGIApplication (so no async allowed). Does the jaeger architecture have a hard dependency on tornado's ioloop to work at all? zipkin client libraries appear to have no such limitation.

[2017-07-30 15:37] yurishkuro commented on #60
tornado is used by jaeger_client internally. We have it working with WSGI services just fine, but you need to make sure the tracer is initialized post-fork.

I have seen the locking issue before due to the way our of our internal framework is structured, namely that it performs initialization as part of an `import`. Import take an exclusive lock on the interpreter and if during the execution anoth

[2017-07-30 21:18] trtg commented on #60
It's completely reproducible in the context of our full production system. I tried to distill it down to a trivial example that is ordered in the same way using a tornado WSGIApplication, but in that example the deadlock doesn't happen. As far as in can tell, the structure of my toy example is essentially the same as our overall production code, so I'm not clear why it doesn't have the same issue.

[2017-07-30 21:34] yurishkuro commented on #60
Yes, in our internal lib that wraps WSGI we're using `@postfork` decorator to init the tracer and middleware.

[2017-07-30 21:52] yurishkuro commented on #59
https://github.com/uber-common/opentracing-python-instrumentation/pull/28

Currently breaks on urllib2, I don't think it's the correct approach to replace urllib2 with urllib.request from `future`, because it assumes the end-user code is also using `future`. It needs a bit more experimentation. There must be two sets of tests, using urllib2 in py2 and using urllib.request in py2 and py3.

[2017-07-31 02:54] yurishkuro commented on #59
@dsludwig would you be able to test this? uber-common/opentracing-python-instrumentation#28

I didn't port all of your changes, e.g. this one
[code]

[2017-08-04 02:59] yzfshuijing opened #66 "_start_receiving(self):"
i'v read the source code,  in agent.py , there is a method ,
@gen.engine
 def _start_receiving(self):
i can't understand its use , can you explain for me briefly
thanks so much

[2017-08-04 16:06] yurishkuro commented on #66
can you link to the source?

[2017-08-04 16:08] black-adder commented on #66
I think you're referring to the thrift autogenerated code? We use it so that our client can talk to agent using thrift over udp.

[2017-08-05 03:21] yzfshuijing commented on #66
oh i see, thanks very much

[2017-08-05 03:21] #66 closed

[2017-08-08 10:35] trtg opened #67 "root span does not reach collector when running under uwsgi"
If I run my app using werkzeug.serving.run_simple all spans are propagated just fine and my traces/spans are error free. If I run the app under uwsgi and initialize the tracer in the uwsgi.post_fork_hook, i see the client claiming that it has reported the root span, but the collector never appears to receive it (I added logging when the collector receives spans). Once the root span is missing all

[2017-08-08 12:33] yurishkuro commented on #67
Can you post some example that reproduces there issue?

[2017-08-10 23:03] trtg commented on #67
i'll try to distill some toy example, but it looks like this is probably the fault of my hacked together "middleware". With uwsgi running in prethreaded mode, things seem to work ok so far.

[2017-08-11 11:16] I159 commented on #41
`$ python --version`
`Python 3.6.1`

`pip freeze | grep jaeger`
`jaeger-client==2.1.0`

`$ pip freeze | grep thrift`
 `thrift==0.10.0`

And I still experiencing the error:
`
python3.6/site-packages/jaeger_client/codecs.py", line 88
parent_id = parent_id or 0L
`

[2017-08-11 20:31] yurishkuro commented on #41
this was fixed in #57, but we haven't released a new version since the work is not finished.

There doesn't seem to be any new information in this ticket, so I am going to close it as a dupe of #59.

[2017-08-11 20:31] #41 closed

[2017-08-18 20:39] tanner-bruce opened #69 "Instructions for running django_opentracing with jaeger"
Instructions for running in a uWSGI, gunicorn and `django runserver` would also be nice.  I should also note that the sample app does not work with the currently released jaeger-client library.

As it stands, simply modifying the django opentracing example to use the jaeger client simply does not work.

[2017-08-18 22:03] yurishkuro commented on #69
for uWSGI see https://github.com/uber-common/opentracing-python-instrumentation

[2017-08-18 22:03] yurishkuro commented on #69
haven't tried django-opentracing, what doesn't work?

[2017-08-19 06:32] dray92 opened #70 "Should span.tags be a dict?"
Does it make sense for {[span.tags](https://github.com/uber/jaeger-client-python/blob/master/jaeger_client/span.py#L56)} to be a dict object instead of a list? Similar to the implementation in the java client {[source](https://github.com/uber/jaeger-client-java/blob/master/jaeger-core/src/main/java/com/uber/jaeger/Span.java#L60)}

Admittedly, the behavior has been left somewhat ambiguous in [opent

[2017-08-19 18:59] yurishkuro commented on #70
Jaeger's internal data model represents tags as a list, so I don't see a compelling reason to change the clients behavior.

[2017-08-19 19:42] dray92 commented on #70
So, let’s look at this from a consumer’s perspective.

Basic requirement -> if anything goes wrong, set FOO_BAR tag to False, else True; which fits with the expected usage pattern.

In the current world,
[code]

Ideally, what I think this should be:

[code]

Now, something I am not clear about is, conceptually, how does it make sense to have a level of ambiguity around what span tag will actually

[2017-08-19 22:05] yurishkuro commented on #70
It is not difficult as a consumer to make sure you're seeing the tag exactly one. OpenTracing leaves the behavior undefined for a reason, eg. some tracers might send the tags to the backend before the app has a chance to override the value.

[2017-08-21 17:38] tanner-bruce commented on #69
@yurishkuro if you replace the lightstep tracer with the equivalent jaeger tracer inside settings.py the program will hang at `config.initialize_tracer()` when starting via `django runserver` or gunicorn

[2017-08-21 18:12] yurishkuro commented on #69
does django fork off children processes?  If so, you need to initialize the tracer in a `@postfork` hook

[2017-08-21 18:31] tanner-bruce commented on #69
I believe runserver does. uwsgi definitely does, which I have also tried using along with the uwsgidecorators postfork hook.

I think one of the issues is that the django middleware initializes the tracer at startup, unless the specific setting is set. So, since we init it with @prefork it defaults to using the built in tracer.

I've tried modifying the middleware to use the jaeger tracer by defau

[2017-08-21 18:38] yurishkuro commented on #69
hm, I wonder how lightstep does it, do they report spans on the main application's thread? Starting a thread before the fork didn't bode well when we were developing jaeger client.

as far as the instrumentation, we typically init the tracer and set it as opentracing.tracer (global var), and instrumentation reads it from there. If django-ot needs the tracer instance at startup, then it probably wo

[2017-08-21 22:10] tanner-bruce commented on #69
Alright, we got it running with some modifications to django_opentracing after hearing your suggestions. Thanks!

[2017-08-21 22:11] #69 closed

[2017-08-21 23:58] yurishkuro commented on #69
Can you share what you have done, even better maybe do a pull request in django_opentracing to enable Jaeger, not just lightstep?

[2017-09-01 07:17] jiamo opened #72 "no doc for how to set config?"
I build it and run it fine locally. While mostly the `jaeger server` was in another machine. But I can't find doc to do this.

Through I can infer from this code.
[code]
But if there is a doc it will be good for beginning.

[2017-09-01 08:26] jiamo commented on #72
I make a misunderstand. I run the docker by the `quick getting start` which I think the agent will be with collection.  After see more document. In production  env the agent may be always with application. (while it may still can split from application I think. May be two application on different machine can use one agent)

[2017-09-07 07:34] rabbitstack opened #74 "Support tags injection via JAEGER_TAGS environment variable"
For the sake of consistency, it would be useful if tags could be aggregated via `JAEGER_TAGS` environment variable like in the Java client.

[2017-09-11 14:44] nlamirault commented on #47
I launch the all-in-one image :

[code]

Try this code :

[code]

And the output logs :

[code]

[2017-09-12 20:29] bitglue commented on #60
https://docs.python.org/2/library/threading.html#importing-in-threaded-code

The trouble is in a lot of cases, `jaeger_client` will be initialized as part of importing a module. And then `jaeger_client` starts a thread and waits for it (indirectly: `threadloop` is directly responsible), deadlocking as described above. For example [django-opentracing](https://github.com/opentracing-contrib/python-d

[2017-09-13 04:03] yurishkuro commented on #60
@bitglue I added a section to the README, does it help?

[2017-09-13 09:51] bitglue commented on #60
I think there may be two problems here.

One, starting jaeger and then forking leads to problems. I'd guess it's because the children will be running the same event loop, on the same file descriptors.

The other problem is this deadlock. As my case above illustrates, it's not necessary to fork anything to get this deadlock: all that's required is to import something which tries to initialize jaege

[2017-09-14 16:18] lapointexavier commented on #60
I'm in the same situation as @bitglue describes with Django / gunicorn. I guess because of django works, using gunicorn's `post_fork` might not be an option. Is there a workaround for django + gunicorn, or it's just not compatible?

[2017-09-14 17:16] bitglue commented on #60
I was able to work around the issue by extending the opentracing-contrib/python-django to handle the case of not yet having a tracer:

[code]

And then I deferred the initialization of the tracer to gunicorn's post_fork hook:

[code]

Pretty hairy, but gets the job done.

[2017-09-14 18:55] lapointexavier commented on #60
@bitglue Awesome, thanks for that!

[2017-09-15 04:05] yurishkuro commented on #60
@bitglue what is your suggestion now to make it easier for the users?  Should this lazy class be made a part of `opentracing-contrib/python-django`? If so, do you want to add a PR?

[2017-09-15 13:49] bitglue commented on #60
If I could get a tracer object but not start the event loop, that would solve it elegantly. Then the event loop can be controlled with `tracer.start_event_loop()` and `tracer.stop_event_loop()` or such.

For backwards compatibility perhaps `initialize_tracer(start_event_loop=False)` would suffice to request the new behavior?

I'm not a fan of my `LazyOpenTracingMiddleware` solution since it relies

[2017-09-15 14:46] yurishkuro commented on #60
that's what we ended up doing internally as well. Has anyone taken a look at lightstep python client? why didn't it have a problem with django? I assume it also uses a bg thread for reporting.

[2017-09-15 17:57] bitglue commented on #60
On a very cursory read, it doesn't appear to wait for the thread to become ready after starting it. That would explain why it does not deadlock.

Not sure about the consequences of forking after starting the thread. It's possible if it's using blocking IO instead of epoll(), and some care is taken with the file descriptors to not have two processes on the same TCP connection (or there are no TCP c

[2017-09-19 06:33] ray1888 opened #76 "how can i find the thrift file in project"
i am reading your code,but i just get confused the process between agent and client , so where can i find the thrift file to define what is actually transfer between them.

[2017-09-20 09:14] #76 closed

[2017-09-26 12:04] isaachier commented on #74
Maybe I can do this as part of https://github.com/uber/jaeger-client-python/pull/78.

[2017-09-26 15:24] yurishkuro commented on #74
Done in #78

[2017-09-26 15:24] #74 closed

[2017-10-03 16:03] rabbitstack commented on #74
Unfortunately, I'm not seeing the desired results when tags are injected via `JAEGER_TAGS` or specified in the tracer config. The tags aren't carried at process-wide basis. If we are seeking to achieve the same consistency as in Java client, the tags should be stored at `Process` level, and not attached as regular tags. Besides that, they should be propagated to each span, not to the root one only

[2017-10-03 16:30] isaachier commented on #74
Look at the test case in test_config.py:

[code]

Is that not what you wanted?

[2017-10-03 16:39] rabbitstack commented on #74
The tags are injected as expected, actually, the problem is (I suspect that after inspecting the state of the span in Elasticsearch document) related to how tags are propagated / stored in the span storage. Take a look at this document (I exported `JAEGER_TAGS` with `api_token` tag).

[code]
`api-token` should be stored within `process->tags` and not inside `tags` array (that's at least what Java

[2017-10-03 17:26] yurishkuro commented on #74
This is the result of python client still using zipkin out of band format. There is no equivalent of "process tags" in zipkin model, so the behavior you're seeing is expected.

[2017-10-03 19:11] rabbitstack commented on #74
@yurishkuro Any plans for migrating to native Jaeger format? Are hostname, ip and jaeger.version hardcoded somehow so I'm seeing them despite python client doesn't support process tags?

[2017-10-03 19:29] yurishkuro commented on #74
I would like to upgrade python client to jaeger model before Jaeger 1.0 release in December, but we don't have anyone working on it at the moment.

The tracer-level tags are still stored in Zipkin model, but only in the first span of the trace in the given process (we call it "first in process span"), to reduce the overhead of sending them to the backend in every span.

[2017-10-08 21:37] yurishkuro opened #82 "Migrate to jaegertracing org"
Per https://github.com/jaegertracing/jaeger/issues/409

  * [x] Move the repo
  * [x] Re-register the repo with Travis
  * [x] Re-register the repo with Coveralls/CodeCov
  * [x] Update the links to badges in the README
  * [x] Re-encrypt credentials
  * [x] Add DCO file
  * [x] Add sign-off checker bot
  * [x] Update CONTRIBUTING instructions to require sign-off
  * [x] Update to Apache license

[2017-10-11 09:16] objectiser opened #84 "Document how to setup dev environment and build client"
Once #83 is merged, we need to update the CONTRIBUTING.md to include instructions on how to setup the local development environment and build/test the client, similar to the instructions in [node](https://github.com/jaegertracing/jaeger-client-node/blob/master/CONTRIBUTING.md#developing) and [java](https://github.com/jaegertracing/jaeger-client-java/blob/master/CONTRIBUTING.md#developing) clients.

[2017-10-11 14:11] yurishkuro commented on #84
I have those in https://github.com/yurishkuro/opentracing-tutorial/blob/master/python/README.md

[2017-10-11 16:41] #84 closed

[2017-10-15 17:12] zachgoldstein commented on #60
👍 I'm bumping into a similar deadlock working with flask, and looking into similar post-forking options. Thanks for writing this issue, it's been a big help.

[2017-10-15 17:43] #82 closed

[2017-10-15 17:50] yurishkuro commented on #31
Update: there have been other issues and discussions related to this, I think the ideal approach is to remove Tornado dependency completely and implement async span flushing in a dedicated thread. The thread should also be started lazily (e.g. only when the first span is reported), which should address two issues:
  * when running under WSGI-style frameworks, the thread will naturally be started p

[2017-10-15 17:51] yurishkuro commented on #60
#31 should address the deadlocking issue. Meanwhile I'll update the README

[2017-10-15 17:58] zachgoldstein commented on #31
I'm playing with making this work nicely with https://github.com/opentracing-contrib/python-flask. Would love to see a separate repo for framework specific niceties, like jaeger-flask, jaeger-django etc.

Side note; thanks for all the hard work!

[2017-10-18 15:33] black-adder opened #87 "Update python client to use jaeger model instead of zipkin"

[2017-10-24 19:31] black-adder opened #88 "Use smaller base image for crossdock image"
Golang is using scratch so the crossdock image is only 3MB. Do something similar for xdock-py

[2017-10-27 13:54] olevold commented on #59
Does anyone know if there will be a new release in the near future?

[2017-10-27 14:42] yurishkuro commented on #59
@olevold 3.6.1 was released on Sep 26, there have been no changes since then.

[2017-10-28 15:45] ishanjain28 commented on #88
@black-adder I have done a little work on this. I need some help in understanding how to test my image.

I used alpine as base and my image size currently is 200MB. I can remove packages like gcc py-pip and reduce the size even more.

Currently, When I try to run my image I get the error `no such file or directory: 'idl/thrift/crossdock/tracetest.thrift'`.

The Dockerfile lives inside crossdock fo

[2017-10-28 16:04] ishanjain28 commented on #88
I forgot to look for the submodule. I cloned the repo recursively and it worked just fine. But I still don't understand why is Dockerfile in `crossdocker/`?

[2017-10-28 16:37] ishanjain28 commented on #88
The image size has been reduced to 215MB. I tried to remove py-pip after all the deps are installed but that increases size from 215MB to 216MB.

[2017-10-28 16:48] black-adder commented on #88
Sorry I need to do a better job at linking issues to PRs. https://github.com/jaegertracing/jaeger-client-python/pull/89 I got to the same size as you. However, I'm kinda incredulous that we can't get it any smaller.

As for why the Dockerfile is inside the crossdock repo is because crossdock is our integration test suite that we use to check compatibility of context propagation between different c

[2017-10-28 17:04] ishanjain28 commented on #88
@black-adder I have tried a couple of different things like clearing package cache, Removing `gcc` right before starting the program but the image size doesn't changes at all. Since, You've already submitted a PR with same results, I'll take remove mine.

[2017-10-28 17:31] yurishkuro commented on #88
We obviously need Python in the final image, but we don't need a lot of intermediate packages and build artifacts which are being included because we run `pip install` inside the final image. One approach would be to run the build/install elsewhere and only copy the final output to a separate image.

But in practice, would it give us much better results? What is the size of the clean Python image

[2017-11-13 20:12] nehaljwani commented on #59
The `get_host()` and `get_type()` change was made to opentracing-python-instrumentation in https://github.com/uber-common/opentracing-python-instrumentation/commit/5ade4a5a3002468dc4c08a488dd4b39f4a5bfa4a#diff-ef3e0ebde91ef405f72ce139bc8cd5ef

[2017-11-15 17:29] wkiser opened #98 "Support sending spans over HTTP"
Similar to the [HttpSender](https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-core/src/main/java/com/uber/jaeger/senders/HttpSender.java) in jaeger-java. It seems like it could be as simple as using THttpClient in place of TUDPTransport and  connecting to the collector directly. I'm happy to help out with the implementation if needed.

Background: I have some applications that

[2017-11-21 19:38] dudymas commented on #59
I made #99 to hopefully move this along

[2017-11-30 15:20] yurishkuro opened #102 "Make tracer metrics consistent with Go client"
https://github.com/jaegertracing/jaeger/issues/572

[2017-12-12 01:53] ray1888 opened #103 "tracer init fail"
i was trying to combine pyspider webui (https://github.com/binux/pyspider) and jaeger-client-python together. but when i try to init a tracer in it. it just can't start pyspider webui and i traceback the reason , find out it's the ThreadLoop start() to start the thread ioloop fail and get stuck. may u help to findout why? i have searched the SO , but can't find any answer on it

[2017-12-12 03:31] yurishkuro commented on #103
If you already have an application that uses tornado, you may initialize the tracer with an IOLoop from the main app.

[2017-12-12 03:31] yurishkuro commented on #103
if that doesn't work, best if you could provide an example to reproduce the issue.

[2017-12-12 03:45] ray1888 commented on #103
u mean i need to use the main app tornado ioloop instead of creating a new loop for the Client ?

[2017-12-12 04:20] yurishkuro commented on #103
I'm saying if creating a new one doesn't work you can use the main IOLoop, there's not a lot of difference.

[2017-12-12 04:36] kujenga opened #104 "Understanding one_span_per_rpc configuration"
I just spent a while looking into problems with traces being improperly nested when dealing with calls between Go and Python services. It turned out that the needed fix was to set what appears to be an undocumented `one_span_per_rpc` option to false on my tracer, allowing a new span identifier to be created so that is is a proper child of the request calling my HTTP endpoint. This is the relevant

[2017-12-12 04:40] yurishkuro commented on #104
You are right, we should change the default to False.

[2017-12-12 04:40] yurishkuro commented on #104
It's a legacy setting.

[2017-12-12 05:07] kujenga commented on #104
Ah, great! Thanks so much for the prompt response.

[2017-12-12 15:49] gravelg opened #106 "Zipkin HTTP headers support"
Hello,

I'm currently working on adding Zipkin HTTP headers support to this library and would like to discuss what the preferred method for enabling support for those headers should be.

My current solution is to have a new config parameter, something like `use_zipkin_http_headers: True`, which would send the Zipkin codec as `extra_codecs` to the Tracer and take over handling of HTTP headers over

[2017-12-12 16:13] #104 closed

[2017-12-12 16:51] yurishkuro commented on #106
Perhaps like this https://github.com/jaegertracing/jaeger-client-java/pull/296

[2017-12-14 15:13] ray1888 commented on #103
problem found . it the code problem rather than jaeger_client Problem. thank for answering problem

[2017-12-14 15:13] #103 closed

[2017-12-14 15:17] yurishkuro commented on #67
Closing as it's been idle for 4 months.

[2017-12-14 15:17] #67 closed

[2017-12-20 20:02] #87 closed

[2017-12-21 20:18] #106 closed

[2018-01-08 16:43] kbroughton commented on #59
What help is wanted for this issue?

My environment is
GCE kubernetes engine or docker-compose
pip install django_opentracing jaeger-client
jaeger.version=Python-3.7.1
django_opentracing/_version.py
{
 "full-revisionid": "21b48cd0998ffdc3f1284341beb2a9606fd8f30e",
 "version": "0.1.18"
}

I was just able to get my django python3 app running with the latest pip installs after fixing one iteritems er

[2018-01-08 16:56] yurishkuro commented on #59
@kbroughton there have been a few PRs merged that fix various incompatibilities with py3, but it's not finished. Some PRs are not merged because they fail the tests (e.g. #101).

The preference is to make a set of smaller PRs that fix specific syntax issues one at a time.

[2018-01-14 19:28] yurishkuro commented on #59
@kbroughton I am surprised #113 addresses this issue. I just tried enabling 3.6 in #114, and it fails with a bunch of errors, like not recognizing `xrange` keyword, etc. All these changes have been attempted in different other PRs, but not signed off / completed. Ideally we just need to do a series of small PRs that address one feature at a time, like xrange->range.

[2018-01-22 07:15] Weilor commented on #72
@jiamo you're right
And no matter golang jaeger sdk or python jaeger sdk, their doc is not specific. It's disappointed.

[2018-01-30 05:15] stevededalus opened #120 "Illegal header key with b3 headers and GRPC"
I'm running into some errors trying to use jaeger on grpc requests with a zipkin compatible backend and was hoping for some pointers. I believe I just need to set the `b3` propagation flag and that should set the correct headers, but when I attempt to I get the following errors:

[code]

The raw_byte string looks suspicious and was wondering if this could be related to a python2 -> python3 change

[2018-01-30 06:01] stevededalus commented on #120
Actually, after digging some more into this it looks like the issue is that the headers don't get downcased before encoding. Changing the strings to lower case resolves the metadata error.

[2018-02-08 13:30] cheveyo20 opened #122 "Trace a AMQP Workflow"
Hi All,

i have a distributed processing (called Workflow1 in this case) with amqp support:

Start -- amqp--> General Processing --amqp-->Fork into two queues Task A and B

So i can trace this with jaeger :) My first attempt using inject and extract:

[code]

[code]

So 4 issues / questions:

1) I get sometimes in the UI the result for a trace (not always):
<cannot-find-trace-name>

2) There are g

[2018-02-09 03:16] yurishkuro commented on #122
Q: is the program that starts the "Workflow" span long running, or does it exit quickly? If the latter, it's possible that the tracer doesn't have time to flush the spans.

2 - why do you need to fill the gaps? The messaging use case is naturally async, it's not unusual that you will have gaps in the timeline. The distance between the spans should reflect the queue wait. The only way to fill the g

[2018-02-09 13:55] ror6ax opened #123 "Config has no input verification"
if you provide wrong field in a wrong place, there's no feedback.
I've wasted couple hours trying to figure out connection issues because of providing `'reporting_host':'1.2.3.4'` instead of `local_agent':{'reporting_host':'1.2.3.4'}`.
I'll whip up a PR to address this.

[2018-02-09 15:26] cheveyo20 commented on #122
4) Similar to this:
![image](https://user-images.githubusercontent.com/30328572/36034732-4e00c3a0-0db5-11e8-9038-d8a887b12e47.png)

But i do expect something like this:
Start -- --> General Processing ---->Fork into two queues Task A and B
I understand that this does make sense from a technical point of view, because i make everything dependeable on the overal process, how can i improve this here?

[2018-02-10 22:09] yurishkuro commented on #122
the shape of the graph depends on how you are starting the spans. In this case it appears that Task A span is started as a child of the root span, not of "General Processing" span. If your processing `Start -- --> General Processing ---->Fork` has some form of queued messages between steps, then each message needs to carry the span context of the currently active span. That does not seem to be the

[2018-02-12 17:53] eundoosong commented on #102
I'm interested in contributing this issue, 'll PR soon.

[2018-02-12 18:08] yurishkuro commented on #102
great!

[2018-02-14 09:45] ror6ax commented on #59
Same question, what's left to be done here? Which help is needed?

[2018-02-14 16:42] yurishkuro commented on #59
There are still some tests failing, most of them around unicode handling. We had an outage internally caused by unicode in python, it's currently being investigated, I am hoping it will finally reveal what was causing httplib to blow up, then we can have a proper fix and it should be easy to port to py3.

[2018-02-22 19:17] tzickel opened #128 "Python client silently ignores data larger than one UDP datagram"
A. The documentation does not specify that there is any limit on data sizes and/or what happens in such a case (not sure that all users of this package are versed in UDP Transport and it's limitations).
B. The code does not handle python socket send exceptions (UDP throws an exception on a send larger than one datagram size, at least on linux).
C. The metrics counters do not count spans which were

[2018-02-22 19:27] yurishkuro commented on #128
+1, should be fixed. Would you be able to submit a PR?

[2018-02-22 19:33] tzickel commented on #128
I am not versed at jaeger at all (A friend just asked me why he doesn't see some of the spans he is sending, and I figured you are using UDP as a backend.) so I rather someone who actually knows / uses it handle it.

[2018-02-27 09:39] cheveyo20 commented on #122
Thanks i worked it out :)
Last question to this topic, is it possible if i do have a following service which joins Task A & B, to show its dependency to Task A & B?
Because in the "Join Service", i am having two different span contexts

[2018-02-27 14:46] yurishkuro commented on #122
You can certainly capture this relationship by passing two follows-from references when creating the join span. It won't have special display in the UI though - suggestions are welcome how to display it.

[2018-02-28 22:10] yurishkuro opened #133 "We dropped dependency on `future` but still have references to `past`"
@sc68cal [said](https://github.com/jaegertracing/jaeger-client-python/pull/130#discussion_r171393944):

You dropped the future package from the requirements but are still referencing it.

I get a stacktrace when trying to run this in a Python 3 environment.

[code]

[2018-02-28 22:27] #133 closed

[2018-02-28 22:31] debosmit commented on #133
@yurishkuro should we think about moving the py3 stuff to a separate branch till it attains stability?

[2018-02-28 22:40] yurishkuro commented on #133
I don't want to create & maintain forks. Officially we do not support py3, but we've been making incremental changes to remove incompatibilities. As of now the only remaining issue, as far as I remember, is the unicode tests that behave differently in py2/py3.

There's a PR #114 to do CI with py3.

[2018-03-06 19:50] sc68cal commented on #59
I also see that we have [some logic](https://github.com/jaegertracing/jaeger-client-python/blob/master/setup.py#L64) that skips installing `tchannel` when running in a py3 environment, yet the tests still are run.

[code]

It looks like `tchannel` is not ready for py3, since if you install it, you end up with another error.

[code]

[2018-03-06 20:41] yurishkuro commented on #59
@sc68cal yeah. I don't think there's much chance tchannel would be ever support py3, it's in maintenance mode. We have two options for Py3:
  1. skip running the crossdock tests (unit and Docker-based), or
  2. implement some sort of wrapper for tchannel imports so that the code still compiles, and change unit + Docker tests to skip the tchannel-related tests, but keep http-related ones (so that t

[2018-03-06 23:50] #102 closed

[2018-03-08 17:28] worrel opened #137 "3.8.0 doesn't report spans in Python 3"
I have a set of apps using the Go and Python jaeger client libs and the jaeger all-in-one docker image.  They're all running in a docker-compose stack - so the apps can see the jaeger container & reach it via its hostname 'jaeger'.  I also have the jaeger ports exposed on localhost so I can run sanity checks on the python code locally (e.g. jaeger all-in-one's docker ps looks like 0.0.0.0:5775->57

[2018-03-08 17:36] yurishkuro commented on #137
should have mentioned this in the release notes - the new version finally has support for sending native jaeger.thrift format, that goes to a different port
[code]

[2018-03-08 18:31] yurishkuro commented on #137
Please let me know if this solves the issue.

[2018-03-08 22:53] worrel commented on #137
Hi @yurishkuro! I figured the port change meant something like that, but it wasn't clear whether I have to make any other config changes to have Python client output jaeger thrift, or should it just work?

As I said above, I'm using jaeger all-in-one docker image with both the 5775 zipkin thrift and 6831 jaeger thrift ports exposed.  But in 3.8.0, regardless of whether I leave config as default, o

[2018-03-08 23:10] yurishkuro commented on #137
I just ran all-in-one
[code]
and ran the [tutorial](https://github.com/yurishkuro/opentracing-tutorial/tree/master/python)
[code]

The span was reported correctly
![image](https://user-images.githubusercontent.com/3523016/37181682-fba3aed6-22fb-11e8-911b-561237161be9.png)

There is no special configuration for the tracer: https://github.com/yurishkuro/opentracing-tutorial/blob/master/python/lib/tr

[2018-03-08 23:16] worrel commented on #137
@yurishkuro is that using Python 2 or 3? I suspect this might be the issue.  I'm using Python 3.

If I run with 3.7.1 and in a separate terminal do `tshark -f udp` I see something like
[code]
and correspondingly the spans make it to the collector/UI.

If I run with 3.8.0 (changing the port to 6831), I see no UDP packets logged at all

[2018-03-08 23:21] yurishkuro commented on #137
I ran with python 2. We do not officially support Python 3, and don't test with it, so a regression is possible (but unfortunate). If you are able to troubleshoot this with py3 it would be very helpful.

[2018-03-09 03:24] worrel commented on #137
I should also add that the thrift version changes I mentioned above were a bad idea.  Setting thrift to 0.9.2 or 0.9.3 actually seemed to break 3.7.1 for me.  I didn't notice this the first time I made the change because I forgot to pip install the changes to the requirements file.  I've gone back to explicitly using latest thrift (0.11) and that's working for 3.8.0 and 3.7.1 (on Python 3)

[2018-03-12 10:07] fox91 commented on #137
Same problem for me with `jaeger-client==3.8.0` and `Python 3.5.2`.
With `jaeger-client==3.7.1` works fine.

[2018-03-12 14:28] ror6ax commented on #123
Closing as related PR has been merged.

[2018-03-12 14:28] #123 closed

[2018-03-12 14:41] ror6ax commented on #128
This is an interesting one. Slicing the batch would not make much sense due to the nature of UDP. In my opinion the right approach is to modify _consume_queue and _make_jaeger_batch to accept a batch size parameter depending on MTU. Or just setting some limit on a batch. @yurishkuro - what are your thoughts?

[2018-03-12 14:47] ror6ax commented on #72
@Weilor - you mean the config format is not clearly defined?

[2018-03-12 14:53] ror6ax commented on #47
`reporting_host` and `reporting_port` seem to work fine now. I think this issue can be closed? @yurishkuro

[2018-03-12 16:47] yurishkuro commented on #128
We do emit metrics and logs if UDP send fails

https://github.com/jaegertracing/jaeger-client-python/blob/master/jaeger_client/reporter.py#L201

The main thing about Python client is that it's not written the same way as other clients which actually pre-compute the expected size of the batch and manage flush w.r.t. that size vs. the MAX_PACKET_SIZE (65000 bytes by default - MTU is not relevant for

[2018-03-12 18:05] ror6ax commented on #128
Well, it looks like it does not work all the time ;) I can look into sizing up the batch before sending it out. Should I?

[2018-03-12 18:32] yurishkuro commented on #128
If you do, that would be a pretty large change, effectively reimplementing the whole architecture of the senders API. I would rather have the confirmation first that there is indeed an issue (the person who filed a ticket said "asked for a friend"), and maybe simply adjust the docs. I.e. I would start with a unit test that writes large batch and see what metrics/logs are emitted.

[2018-03-12 21:39] yurishkuro commented on #47
Yes, closing.

@nlamirault the exception you showed is something inside tornado, could you please open a new issue with it and include the versions of the dependencies you're using?  I have run https://github.com/yurishkuro/opentracing-tutorial/tree/master/python with the latest jaeger client and it had no issues (using Python 2.7)

[2018-03-12 21:39] #47 closed

[2018-03-14 07:42] tzickel commented on #128
1. My friend increased the default reporter_queue_size from 100 to 10000 and it fixed most? of his issues.
2. If you send 1 span with a log message that is very long (maybe it's unlikely, but still) that is close to a datagram size, it still fails. (IIRC it does not end up in any metrics counter).

[2018-03-16 09:43] PikBot opened #138 "Getting started code in README not working"
On running the starter code (in README) in python I get the following error:
`TypeError: __init__() got an unexpected keyword argument 'validate'`

It seems to be working fine if I comment out ` validate=True `

Any idea as to why this would be happening?

[2018-03-16 15:06] PikBot opened #139 "Include installation for Windows and MacOS in README"
Currently, the installation instructions are only for LINUX.

Separate installation instruction would be desirable for MacOS and Windows users.

[2018-03-16 15:18] yurishkuro commented on #139
I don't think we even need installation instructions

[2018-03-16 16:05] yurishkuro commented on #139
yes, I would just leave the `pip install` line

[2018-03-16 20:24] yurishkuro commented on #138
that feature is only in `master` now, will be available once 3.9 is released

[2018-03-16 22:21] #139 closed

[2018-03-19 16:46] dhineshmm opened #144 "Trying to use same span through inject/extract across scripts to update additional details using jaeger-client"
Having two separate scripts...
    First one  to create span before execute/process something and
    Second one to  update some more details on the same span at end

In first script, Created root span and child span. Update some portion details in child span and injected
root and child spans were flushed with currently updated details in my execution

I have tried zipkin, as well as OPEN_TEXT for

[2018-03-19 22:19] black-adder commented on #144
I'm not sure I follow, what is the problem you are trying to solve? From my understanding, you have one script that creates a root and child span and it finishes them. Then you are sending context via inject to a second script which extracts the 2 spans. I don't follow the next steps.

[2018-03-20 04:36] dhineshmm commented on #144
In the first script
         I create root span and child span. In child span i update some tag and log. Inject the child span to be used by other process/script

In the second script,
        I extract the span (child span, which was injected by first script), Try to update the some more tags and logs and exit smooth.

Both the span use same span-id/context

Here i expect collector/GUI will list

[2018-03-20 09:56] black-adder commented on #144
Understood. At the moment, if you emit the same traceid-spanid span, they aren't combined into one span. This ticket might be of interest to you: https://github.com/jaegertracing/jaeger/issues/729.

[2018-03-27 23:38] nziebart opened #145 "Config 'enabled' option should be deprecated, since it does nothing"
The tracer config has an `enabled` key, but setting the value to `False` does not do anything. The tracer will still start a reporter thread and attempt to send traces over UDP.

I guess this is not really distinguishable from it being disabled in most cases, but I would expect the tracer to default to a no-op implementation if I disable it. e.g., just leave `opentracing.tracer` as-is, since it's

[2018-03-27 23:42] yurishkuro commented on #145
`enabled` field is deprecated (we should mark it so).

But I disagree that returning a noop tracer should be part of Jaeger implementation. It can be done externally by the application using the library.

[2018-03-28 00:01] nziebart commented on #145
Ok makes sense, that is what I'm doing anyway. Was just confusing to see the field there.

I'll change the issue title

[2018-04-02 19:51] trondhindenes commented on #137
I can't get a python3 (flask) app to run regardless of of the jager-client/opentracing versions.
In the exercises, the "'formatter" flask app always chokes on this:
`span_ctx = tracer.extract(Format.HTTP_HEADERS, request.headers)` with the error
`opentracing.propagation.InvalidCarrierException: carrier not a collection`

Desperately awaiting python3 support, all our code is based on python3.5 or 3

[2018-04-04 09:57] bohea commented on #137
thrift 0.9.3 don't support python3

[2018-04-04 20:27] yurishkuro commented on #137
@bohea jaeger does not require you to use 0.9.3, I believe it works even if you pick a higher version that is py3 compatible (that's how people were able to run it before on py3).

[2018-04-11 02:18] nziebart opened #149 "Better support for multiple tracers/services"
In some cases it is useful to simulate the existence of different services from within the same process, e.g. when making queries to services that are not instrumented (e.g. databases). In this case we'd want the `service` on the span to be the remote service.

However, the only way to do this is to create multiple tracers. I came across this proposal https://github.com/opentracing/specification/i

[2018-04-11 03:24] yurishkuro commented on #149
do you actually need any heavy lifting?  Multiple tracers per process is still very much an edge case, I think it's reasonable to expect the application to do a bit of work to create them. I don't think it requires any new factory methods because the configuration class is merely a helper, it uses public constructors for the rest of the objects.

[2018-04-11 17:50] nziebart commented on #149
You're right, it is not strictly necessary. However in practice people will probably just copy the code from the config class if they want to do this, because there are certain bits of logic that are not really trivial - e.g. wrapping the reporter with a `CompositeReporter` and `LoggingReporter` if logging is enabled. It is a strange (and brittle) pattern to inspect the config in your own code and

[2018-04-11 17:58] yurishkuro commented on #149
Fair enough. What specific methods would you like to propose? It looks like all you really need is `initialize_tracer`, maybe with an option to skip installing the global tracer.

An even better approach would be to actually implement support for setting service name via tag (per https://github.com/opentracing/specification/issues/77) and allow submitting spans for different services from the same

[2018-04-13 04:44] #149 closed

[2018-04-13 05:43] nziebart commented on #137
I ran into an error today with python 3.6. It was due to this line: https://github.com/jaegertracing/jaeger-client-python/blob/master/jaeger_client/thrift.py#L55

In python3, the `encode()` function returns a `bytes` literal, which then causes the following error in thrift, which is expecting a `str`:
[code]

[2018-04-13 05:44] nziebart commented on #137
I am not sure why we need to use `.encode()` here - I was able to fix the problem by replacing this block:
[code]
with this:
[code]

[2018-04-13 06:14] nziebart commented on #137
Was able to fix this by replacing the `_to_string` function linked above with:
[code]

After this I was able to report spans successfully. Will open a separate issue

[2018-04-13 06:17] nziebart opened #151 "Thrift encoding breaks in python3"
In python3, spans are unable to be serialized by thrift due to this line: https://github.com/jaegertracing/jaeger-client-python/blob/master/jaeger_client/thrift.py#L55

In python3, the `encode()` function returns a `bytes` literal, which then causes the following error in thrift, which is expecting a `str`:
[code]

It can be fixed by replacing the `_to_string` function linked above with:
[code]

I

[2018-04-13 16:28] yurishkuro commented on #151
+1

[2018-04-13 19:07] silent-vim opened #152 "Jaeger agent dropping spans bigger than 1500 MTU"
Hi, thank you for opensourcing this tool along with the client libraries it is really useful. I wanted to see if there are any suggestions for the issue we are facing.

We have multiple applications running in a docker swarm cluster. I started a Jaeger all in one docker image as well as a service reachable by its name on the port 5775 to send the spans over UDP.

From our applications we are able

[2018-04-13 21:33] yurishkuro commented on #152
The UDP protocol between clients and the agent is meant for cases where the agent is running as a daemon on the host or as a sidecar. It is not recommended if the clients talk to the agent over network. Our go and Java clients implement http transports for your scenario, but I assume you're using Python and the Python client doesn't implement such transport. It's not difficult to add if you're int

[2018-04-13 23:14] nziebart opened #153 "jaeger-client cannot be installed on older versions of setuptools"
Essentially, this is the issue: https://stackoverflow.com/questions/48048745/setup-py-require-a-recent-version-of-setuptools-before-trying-to-install

We use a `python_version` specifier in the requirements here: https://github.com/jaegertracing/jaeger-client-python/blob/3.8.0/setup.py#L38, and only recent versions of `setuptools` support this. If you try to install and your `setuptools` is older,

[2018-04-16 04:46] yurishkuro commented on #151
I think #154 will address this issue

[2018-04-16 04:47] yurishkuro commented on #153
@nziebart
[code]

[2018-04-16 04:49] yurishkuro commented on #137
Should be fixed by #154

[2018-04-16 04:50] yurishkuro commented on #59
Should be fixed by #154

[2018-04-16 04:52] #70 closed

[2018-04-16 16:35] #59 closed

[2018-04-16 16:35] #137 closed

[2018-04-16 16:35] #151 closed

[2018-04-17 07:30] Weilor commented on #72
@ror6ax - sorry to reply you so late. What I mean was if someone just read doc he/she can't get all info he/she need,  like how I init a tracer reports to a remote jaeger agent or how I put span context into a http request.

[2018-04-17 13:11] nlamirault commented on #59
Congrats ! @yurishkuro do you know when a new release with Python 3 support will be done ?

[2018-04-18 01:52] yurishkuro commented on #59
Planning to release it sometime this week.

[2018-04-18 01:54] yurishkuro commented on #72
@Weilor have you seen https://github.com/yurishkuro/opentracing-tutorial/ ?

[2018-04-18 06:43] Weilor commented on #72
@yurishkuro No, and I figured my question by reading code. Although I think it will be helpful if the readme of this repository could contain a brief guidance about how to set config and it is more friendly than looking at another doc for a new user.  And I used golang-jaeger and python-jaeger, and this issue did not get me. So I think this is not big deal.

[2018-04-18 08:58] bohea opened #157 "should exceptions raised by span_context_from_string be suppressed"
span_context_from_string will raise exceptions when  carrier given is not valid.

In http request case, carrier is very likely the request's headers，

thus, upstream user can trigger exceptions by pass an invalid header (like 'uber-trace-id': 'xxx') on purpose.

[2018-04-19 21:52] black-adder opened #161 "Flaky coverage"
https://coveralls.io/builds/16607925/source?filename=jaeger_client/sampler.py#L401

The function `def _create_periodic_callback(self):` does not seem to be covered in sampler.py

[2018-04-23 20:49] nziebart opened #163 "Stacktrace is not set properly on errors"
The default opentracing impl logs the stacktrace in the event of an exception:
https://github.com/opentracing/opentracing-python/blob/master/opentracing/span.py#L199

However the stacktrace object gets converted to a string via `str(tb)` and it results in the following display in the UI: `python.exception.tb | "<traceback object at 0x7f7a2aad9638>"`

I think it might actually be easiest to fix thi

[2018-04-23 22:17] yurishkuro commented on #163
I think the right place to fix it is in the reporter/converter. Pushing the conversion upstream to opentracing means the work will have to be done every time, even though the trace may be unsampled.

[2018-04-24 05:42] ProvoK commented on #98
It would be nice to have this possibility. It will enable to trace in context where is not possible to have an agent installed, for example a Lambda (AWS) function.
Is this in development?

[2018-04-24 11:52] yurishkuro commented on #98
not aware of anyone working on it. Contributions are welcome.

[2018-04-25 07:47] zgfh opened #165 "jaeger does not work with pyinstaller"
after build with pyinstaller, jaeger not work
[code]

[2018-04-27 00:14] yurishkuro commented on #165
I don't know what `pyinstaller` is, we install via `pip`

[2018-04-27 06:42] zgfh commented on #165
PyInstaller is a program that freezes (packages) Python programs into stand-alone executables. https://www.pyinstaller.org/

[2018-04-27 06:56] zgfh commented on #165
i don't know why  `import` in here
https://github.com/jaegertracing/jaeger-client-python/blob/34364d06e7516384a51551f80478519a51fd13a3/jaeger_client/thrift_gen/agent/ttypes.py#L11 .if readly need, can we change it to `import jaeger_client.thrift_gen.jaeger.ttypes as ttypes`?

[2018-04-27 21:38] SEJeff opened #166 "Ability to specify custom `jaeger.hostname` useful for running in kubernetes or containers"
This code:
https://github.com/jaegertracing/jaeger-client-python/blob/34364d06e7516384a51551f80478519a51fd13a3/jaeger_client/tracer.py#L89-L90

Is not ideal when running `jaeger_client` in containerized applications. It seems most useful to allow setting a custom hostname in the config or via an environment variable. We're currently using an `init_tracer()` like this for flask applications:

[code

[2018-04-27 21:44] yurishkuro commented on #166
I'd suggest we do the same thing as here https://github.com/jaegertracing/jaeger-client-java/pull/371

[2018-04-28 01:32] zgfh commented on #165
thanks,but it not work when use pyinstaller .there is a demo :https://github.com/zgfh/jaegertracing-python-demo

[2018-04-29 03:33] SEJeff commented on #163
`traceback.format_exc()` is the magic to get the last raised exception as a string. The code in opentracing-python (that returns `repr(exception_object)` seems useless otherwise, but I'd expect the value to be truncated past a certain number of chars.

[2018-04-29 03:34] SEJeff commented on #72
@Weilor why not send a PR to include an example or a link to the opentracing-tutorial repo?

[2018-04-29 15:36] #166 closed

[2018-04-29 18:01] yurishkuro commented on #165
One dirty solution could be to add some rewrites to the Makefile to fix the imports in the thrift-generated files, similar to https://github.com/jaegertracing/jaeger-client-go/blob/7476e1f143a58ba020587a2710d36de07ad9ccee/Makefile#L79-L82

[2018-05-01 02:04] nziebart commented on #163
Yeah, I think the main question here is where should we call `traceback.format_exc()`. Currently there is no real concept of a value converter, it just goes to [this function](https://github.com/jaegertracing/jaeger-client-python/blob/90ddf76da60b8a3304ea30a5ff08e188eb2f2de6/jaeger_client/thrift.py#L39) which does `str(val)`

The easy fix would be to make this conversion logic know about traceback

[2018-05-03 21:13] nziebart opened #171 "Remote sampler always fails to refresh"
## Requirement - what kind of business use case are you trying to solve?

The remote sampler fails to refresh and always uses the default sampler

## Problem - what in Jaeger blocks you from solving the requirement?

It looks like there are two sampling endpoints on `jaeger-agent`:
`/sampling` and `/`.
The former returns the strategy as a string (e.g. `{"strategyType":"PROBABILISTIC"}`), whereas t

[2018-05-03 21:36] black-adder commented on #171
Thanks for reporting, may I ask which version of jaeger-client and jaeger you are using?

[2018-05-03 21:55] black-adder commented on #171
Actually, nvm, i'll take a look. It's surprising we haven't had anyone internally report this issue yet. I swear I had a test for this...

[2018-05-03 22:26] nziebart commented on #171
It doesn't cause any runtime failures, so if the default rate of `0.001` is reasonable it might go unnoticed. Though there is a metric in the python client that counts the number of failed refreshes.

[2018-05-07 17:13] yurishkuro commented on #59
I was mentioned in the  changelog, I just replicated as Github release https://github.com/jaegertracing/jaeger-client-python/releases/tag/v3.9.0

[2018-05-08 20:53] #171 closed

[2018-05-18 16:50] IMG-PRCSNG opened #174 "Is this is an error? (Log statement)"
https://github.com/jaegertracing/jaeger-client-python/blob/dee05477d551c326ee5b845fbef96606b9efe4cb/jaeger_client/reporter.py#L178

Is this supposed to read 'Span publisher exits' instead?

[2018-05-18 18:26] black-adder commented on #174
Yup, do you mind putting up a PR for a fix? :) Maybe `Span publisher exited`

[2018-05-20 15:03] ProvoK commented on #98
Here I am, sorry for the delay.

After some investigation on the code with the help of @black-adder, I started a refactor to make this change in a clean way. So it's all still a **WIP**, and I would like to have some feedbacks

## Work done [[compare]](https://github.com/jaegertracing/jaeger-client-python/compare/master...ProvoK:send_spans_over_http)
So, there are quite a lot of changes, because t

[2018-05-20 15:16] #174 closed

[2018-05-20 16:46] ProvoK commented on #98
@yurishkuro Sure, I was thinking about splitting it too.

So I can just remove the actual `HTTPSender` (which is a placeholder) and just PR with the actual refactoring? Of course I'll have to fix the crossdock test that is failing.
About that, how can I debug that error a bit more? It just show [this](https://travis-ci.org/ProvoK/jaeger-client-python/jobs/381330676#L1641) and nothing more

[2018-05-20 17:40] yurishkuro commented on #98
Yes, putting a PR with refactoring is the best way forward, we can't really review another branch (no place to leave comments).

Ideally you should not need to change in the crossdock code, because if you do it means your change is not backwards compatible.

The best way to troubleshoot the errors is to run crossdock locally (`make crossdock-fresh`, I believe), and then look at the logs via `make

[2018-05-21 02:49] rbtcollins opened #177 "Python version support ?"
Hi, setup.py claims Python 2.7 under classifiers, and I *was* sure that I had the client working on a Python2 codebase. But currently (and this seems to have changed in the last 30 days by my estimate):

[code]

I've done a little looking at this, and jaeger-client-python has depended on threadloop since forever, and that has had a hard dependency on concurrent.futures since 2016 which leaves me a

[2018-05-21 02:56] yurishkuro commented on #177
could it be the matter of which installation tool you're using? As you mentioned, `threadloop` has a hard dependency on `concurrent.futures` and it always included it it:

https://github.com/breerly/threadloop/blob/9d4f83660fd79fe15d741b831be9ee28dccacc30/setup.py#L5-L9

[2018-05-21 02:59] yurishkuro commented on #177
PS the dependency on `futures` in Jaeger has been removed in #155, to make it easier to install without requiring the latest setuptools. But Python 2.7 is very much the active target, it's what we use at Uber.

[2018-05-21 03:49] rbtcollins commented on #177
No, pip is the standard tool for installing things on Python.

The bug will indeed be the dropping of the dependency in #155 - without that backport specified, you have to have something else somewhere in your dependency tree specifying the inclusion of futures or it won't work on 2.7.

tornado.concurrent doesn't patch sys.modules as far as I can (briefly) tell.

So - it looks to me like tests are

[2018-05-21 04:13] yurishkuro commented on #177
Would you like to try a PR, since you're able to reproduce?

I have no knowledge of `pyproject.toml`, so can't say if it would address the compatibility issues we've seen when using conditional dependency on `futures`. The extra_require, if works, seems to be preferable.

[2018-05-24 15:28] nielspardon opened #180 "Jaeger client can't parse remote sampling strategy with Python 3.5"
## Requirement - what kind of business use case are you trying to solve?

Run Jaeger Python Client with Python 3.5

## Problem - what in Jaeger blocks you from solving the requirement?

Python 3.5 complains about not being able to load JSON with sampling strategy from agent since it's not str but bytes.

[code]

## Proposal - what do you suggest to solve the problem or improve the existing situati

[2018-05-25 09:07] nielspardon commented on #180
Python 3.6 seems to have a different behavior than 3.5:
https://github.com/python/cpython/blob/3.5/Lib/json/__init__.py#L271
https://github.com/python/cpython/blob/3.6/Lib/json/__init__.py#L302

`json.loads()` accepts only `str` in 3.5 while it does accept `str`, `bytes` or `bytearray` in 3.6

In your unit tests you seem to be only testing with a `str` mock and not with a `bytes` mock which is wha

[2018-05-29 15:34] black-adder commented on #180
@nielspardon would you be willing to create a PR with the fix?

[2018-05-29 18:33] nielspardon commented on #180
I opened PR #181 with a fix (including modified unit test).

[2018-05-30 03:36] #177 closed

[2018-05-31 00:23] abhinav opened #185 "Please respect semver between releases"
It looks like 2acc83e (#111) made a couple breaking changes:

- Multiple attributes were deleted from the Span class. The general
  understanding with Python libraries is that if it doesn't start with `_` it
  should be considered "public".
- Representation of Tag objects was changed.

This change was released 20 days ago as a minor release, 3.10.0. These changes
were not mentioned at all in the [

[2018-05-31 01:59] yurishkuro commented on #185
[code]
we should change all of these to start with `_`. They are not public API, the only public API of the span is `opentracing.Span`.

[2018-05-31 03:34] #180 closed

[2018-06-06 02:02] kgrvamsi commented on #50
@yurishkuro do we need to append this `time.sleep(2)` when we write a production level application ?
Consider the scenario of distributed system where Agent/Collector/Query runs on Centralized host and we have code running on containers(roughly 30+) will the trace close needed based on the network lag for all these containers communicating to the centralized server?

[2018-06-06 02:43] yurishkuro commented on #50
If your services support graceful shutdown they yes, you might need to add this sleep after calling tracer.close(). But most long-running server applications are simply killed when they are upgraded or relocated, so in practice this rarely matters since close() won't be called anyway. You might lose some spans not flushed yet.

[2018-06-12 04:58] nziebart opened #187 "Tornado ioloop overhead"
## Requirement - what kind of business use case are you trying to solve?

We want the impact of tracing on request latency to be minimal

## Problem - what in Jaeger blocks you from solving the requirement?

It appears that traces add a minimum of 0.1-0.2ms of overhead per span (more if tags are added). This is surprisingly high. If a request contains 1000 spans, then at minimum we are adding 100-

[2018-06-12 05:29] yurishkuro commented on #187
A couple thoughts about this.

First, personally I see little reason to optimize tornado interaction, instead we should get rid of tornado dependency in the reporter in the first place (#31).

Second, about this:

Microbenchmarks don't tell anything. It's unlikely you'd build a service in Python where a single instance is going to do 10k QPS. Maybe you can squeeze a 100 QPS - the overhead just dro

[2018-06-12 06:16] nziebart commented on #187
Fair points. I agree that microbenchmarks are not always useful. But to add more context - I initially noticed this because I found that tracing added a significant amount of latency (nearly double) for a certain endpoint that produced a lot of spans (only when the request was traced, of course). A single request might generate many spans; it does not need to be 10,000 QPS - it might only be 100 Q

[2018-06-19 23:41] fabianobr opened #189 "Module not found in Windows 10"
I need to solve a non functional requirement, to work on windows 10.

I can't work in an windows 10 environment.

Traceback (most recent call last):
  File "D:\utils\jaeger\tracer.py", line 3, in <module>
    from jaeger_client import Config
  File "C:\Python36\lib\site-packages\jaeger_client\__init__.py", line 26, in <module>
    from .tracer import Tracer  # noqa
  File "C:\Python36\lib\site-pac

[2018-06-19 23:52] yurishkuro commented on #189
this happens when the client tries to determine IP address of the host to record it in the span. You can pass the IP in a tag to the tracer:
[code]
then the client will not be doing the lookup. It might still blow up since utils.py imports these at the top, it could be addressed by moving imports inside `interface_ip()` function. To do this correctly it may need windows-specific code (unless there

[2018-06-20 07:17] nziebart opened #190 "Support Span References"
## Requirement - what kind of business use case are you trying to solve?

We are currently working on tracing a distributed system that uses message queues between services to process events. Some steps involve batch processing. e.g. - 1,000 events will be taken out of a queue, all processed together, and inserted into downstream queues.

## Problem - what in Jaeger blocks you from solving the req

[2018-06-20 15:34] yurishkuro commented on #190
The backend supports storing arbitrary number of span references. Most Jaeger clients support then. Looks like Python client has a gap there, we should fix it.

Supporting multiple references in the UI is a different story. We haven't worked out how visualizations would work in that case. Suggestions or PRs are welcome. At minimum the span details can list all references as hyperlinks to other tra

[2018-06-20 23:51] nziebart commented on #190
I think having the span references as tags/links would be a good start. Another part that would be useful is: when showing a trace, also show any spans that reference spans in that trace.

I'm not sure exactly how this second part would be implemented in the query layer. When retrieving a given trace, we'd need to find any spans that reference that trace, plus all of their descendants. I assume th

[2018-06-20 23:57] nziebart commented on #190
FWIW - we're prototyping a workaround solution for this use case. Essentially, for "batch" operations, we create a separate span for every trace in the batch. Each of those spans is identical, and is the child of exactly one trace from the batch. If sub-operations are performed within the batch operation, we create duplicate spans for those in the same manner.

This gets us what I'm describing abo

[2018-06-21 00:52] #153 closed

[2018-06-22 23:57] roopakparikh opened #191 "Eventlet and jaeger_client"
## Requirement - what kind of business use case are you trying to solve?
Making Jaeger work with OpenStack services.
OpenStack services use eventlet. Jaeger client uses tornado thread/ioloop which don't play well with eventlet.

## Problem - what in Jaeger blocks you from solving the requirement?
Jager client tracer creation creates Tornado based Repoter (should be renamed IMHO to TornadoReporter)

[2018-06-23 00:10] yurishkuro commented on #191
My preference is to do this: https://github.com/jaegertracing/jaeger-client-python/issues/31#issuecomment-336728569

[2018-06-26 20:26] isaachier opened #193 "Error with `None` values in config"
## Requirement - what kind of business use case are you trying to solve?

`kwargs.get('max_operations', DEFAULT_MAX_OPERATIONS)` in sampler occasionally causes errors.

## Problem - what in Jaeger blocks you from solving the requirement?

The config object passes `max_operations=None` into the `RemoteControlledSampler.__init__` function. That causes the above snippet involving `kwargs` to evaluate

[2018-07-11 12:26] ryzokuken opened #198 "initialize_tracer() enters an infinite loop"
## Requirement - what kind of business use case are you trying to solve?

I'm trying to use this module to trace a python flask application

## Problem - what in Jaeger blocks you from solving the requirement?

`config.initialize_tracer()` enters an infinite loop, for some reason.

Config object:

[code]

I could trace this down to `LocalAgentSender::_create_new_thread_loop`, but no idea why this

[2018-07-11 13:40] black-adder commented on #198
Could you provide the minimal viable code to reproduce? What versions of flask, jaeger-client, tornado, python, etc are you using?

[2018-07-11 15:31] prometheanfire opened #199 "Support OpenTracing-2.0.0"
## Requirement - what kind of business use case are you trying to solve?

Update requirements for the openstack/requirements project

## Problem - what in Jaeger blocks you from solving the requirement?

https://github.com/jaegertracing/jaeger-client-python/blob/master/setup.py#L42
Specifically the cap on opentracing.

## Proposal - what do you suggest to solve the problem or improve the existing

[2018-07-11 18:06] ryzokuken commented on #198
@black-adder you could try importing https://pypi.org/project/grtracer/ (https://github.com/ryzokuken/grtracer), and initializing an object of class `GrTracer`, and it would fail.

[2018-07-11 23:02] roopakparikh commented on #191
@yurishkuro The problem is more widespread, see local_agent_net.py, sampler.py both of them assume tornado ioloop to be present and working. How will the mentioned proposal solve the problem?

[2018-07-12 00:40] yurishkuro commented on #191
by removing dependency on Tornado from everywhere in the client.

[2018-07-23 08:30] andriykohut opened #201 "tornado 5.* support"
## Requirement

Support for tornado 5.*

## Problem

A new version of tornado was recently [released](http://www.tornadoweb.org/en/stable/releases/v5.0.0.html), but this package has a restriction on a version.

## Proposal

Allow this package to be used with tornado 5.x, it seems like all current tornado usages should "just work", so hopefully it's as easy as bumping the restriction in `setup.py`

[2018-07-23 14:37] black-adder commented on #201
I think we want to remove the tornado dependency completely instead: https://github.com/jaegertracing/jaeger-client-python/issues/31

May I ask for your use case? tornado is used internally by the client and should have no affect on your service. What would bumping to 5.x get us?

[2018-07-23 14:54] andriykohut commented on #201
This is mostly useful for developers who use tornado as a web server/client and want to use the tracing or work on another package which has this package as a dependency. This restriction doesn't allow the developers to use the latest version of tornado.

Sounds great. But even with optional dependency, there will still be a restriction on tornado version, so it seems like it still makes sense to

[2018-07-23 15:09] andriykohut commented on #201
I guess I'm complicating things, I just meant that this restricts a `tornado` version for developers who want to use the latest tornado directly (not merely as a dependency), alongside with `jaeger-client-python`.

[2018-07-23 16:05] yurishkuro commented on #201
I think it's ok to relax the restriction, but needs testing, as we have no idea if the code will work with v5

[2018-07-26 09:21] zgfh commented on #165
@yurishkuro  dirty solution:  https://github.com/jaegertracing/jaeger-client-python/pull/202

[2018-07-27 20:58] yurishkuro commented on #165
I am not a fan of #202. The thrift files are generated offline, not on every build, but #202 performs the rewrites during the module installation, which is unnecessary since the generated code is already in the source control and could've been fixed _before putting it there_, i.e. during generation done by the Makefile. We already do a bunch of these rewrites in the Makefile, as I pointed out abov

[2018-07-28 20:00] #120 closed

[2018-08-02 20:56] mstump commented on #98
Is this effort dead?

[2018-08-02 21:14] yurishkuro commented on #98
no - https://github.com/jaegertracing/jaeger-client-python/pull/186

[2018-08-06 22:04] black-adder opened #205 "5.0.0 Design"
## Requirement - what kind of business use case are you trying to solve?

The python client was not architected in line with the other clients. For example, adding a new HTTP sender will require an extensive surgery and a lot of technical debt to maintain backwards compatibility; in the other clients, adding a new HTTP sender was a breeze.

There are other tasks we can accomplish such as:

- Reduc

[2018-08-06 22:33] yurishkuro commented on #205
is major rev the only way forward?

[2018-08-07 15:19] black-adder commented on #205
I'll take a look, but I suspect the code we get out of it will not be the cleanest.

[2018-08-08 13:36] mihau commented on #199
I've created a WIP pull request that bumps `opentracing` to 2.0 #206

[2018-08-24 11:04] xmm1989218 commented on #205
when will 4.0.0 release?

[2018-08-28 14:55] rmfitzpatrick commented on #31
@yurishkuro, do you think a threading.Timer would be an acceptable replacement for the PeriodicCallbacks in RemoteControlledSpampler and RemoteThrottler?  I'm not sure how straightforward it would be to ensure their invocations to be post-fork.

afaict these are the only other places that require nontrivial removal of tornado, assuming thrift-generated code is 1:1 when not specifying the tornado o

[2018-08-31 21:35] yurishkuro commented on #31
I don't know off hand what threading.timer does. Does it require a separate thread?

[2018-09-26 12:54] fox91 opened #210 "Multiprocessing compatibility"
## Requirement - what kind of business use case are you trying to solve?

I'm trying to monitor the execution of every single sub-process (keeping track of the fact that it is a sub-process of the main process) using Jaeger.

## Problem - what in Jaeger blocks you from solving the requirement?

This is an example of code that reproduces my problem:
[code]
This is my `requirements.txt` file:
[code]

[2018-09-27 15:44] marshygeek opened #211 "Tracing in flask application"
## Requirement - what kind of business use case are you trying to solve?

I have an application that should perform two operations (two endpoints in API):
1) `/v1/log` - log a message using span (start new span if it's first call to this operation)
2) `/v1/log/finish` - finish logging for a specific span (basically, call `span.finish()`)

Uploaded [project](https://github.com/marshygeek/jaeger_tra

[2018-09-28 12:07] marshygeek commented on #211
Updated project to make it easier to reproduce the problem.
On start, code from [https://github.com/marshygeek/jaeger_tracing_example/blob/master/src/__init__.py](file) will be executed and new span will be shown in the Jaeger UI.
On request `POST /v1/log` the same code will be executed but no span will be shown in the Jaeger UI.

[2018-09-28 13:51] marshygeek commented on #211
Fixed the problem by initializing tracers in the first call to `/v1/log`. (After application will start serving requests)
Here's the [commit](https://github.com/marshygeek/jaeger_tracing_example/commit/ae02b527580449ca8de9c2d05ff7b8af0edc6db3)

[2018-09-28 13:52] #211 closed

[2018-09-29 19:31] trondhindenes opened #212 "set_tag always converts values to string"
## Requirement - what kind of business use case are you trying to solve?
Trying to post spans containing tags with int and/or boolean values

## Problem - what in Jaeger blocks you from solving the requirement?
The `set_tag` methods seems to convert all incoming values to stringed values.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

## Any open questi

[2018-10-14 17:16] #212 closed

[2018-10-29 21:18] Mulkave commented on #122
@cheveyo20 can you please share some details on how you got it to work? New to tracing with AMQP 😄

[2018-11-02 15:18] trondhindenes opened #217 "3.12.0?"
this isn't really an issue, but would it be possible to ship 3.12.0? We're waiting for some changes that got merged in a while back.

[2018-11-02 21:42] trondhindenes commented on #217
Thank you!

[2018-11-07 17:29] bentsi commented on #199
Unable to use start_active_span in tutorial https://github.com/yurishkuro/opentracing-tutorial/tree/master/python/lesson02
When opentracing 2.0 support will be added to the jaeger python client?

[2018-12-01 09:20] Lawouach commented on #205
Hello, just a friendly ping to say I'm also excited to get my hands on that next release (specially to get an implementation of ̀start_active_span` from opentracing 2)

Good job all around folks! :)

[2018-12-05 14:33] nicholasamorim opened #224 "tracer.inject with Format.BINARY is always empty"
## Requirement - what kind of business use case are you trying to solve?

Injecting context data via tracer.inject in binary format. Trying to make the python cassandra driver compatible with [cassandra zipkin tracer](https://github.com/thelastpickle/cassandra-zipkin-tracing) by propagating context to Cassandra too.

## Problem - what in Jaeger blocks you from solving the requirement?

[code]

I t

[2018-12-05 14:57] black-adder commented on #224
Ah, looks like the binary codec is not currently implemented: https://github.com/jaegertracing/jaeger-client-python/blob/master/jaeger_client/codecs.py#L139

Would you be willing to contribute the implementation? This is the golang implementation for injection: https://github.com/jaegertracing/jaeger-client-go/blob/f7e0d4744fa6d5287c53b8ac8d4f83089ce07ce8/propagation.go#L169

[2018-12-05 16:41] nicholasamorim commented on #224
Hey @black-adder thanks for the anwer.

I'll try and port the GO version.

[2018-12-06 01:47] scorpioxiatian commented on #191
Hello. I have a trouble, My service use eventlet, and when i do 'span.finish()' , I can see report in the log, But I can't see this trace in jaeger UI ? How can i do?

[2018-12-06 08:18] denisdubovitskiy commented on #199
Is there any chance for this PR to be merged? There is already 3rd version of opentracing released. This issue looks abandoned

[2018-12-07 06:36] yurishkuro commented on #199
apologies for delays, we're short staffed these days due to higher priority projects, and this is a breaking change, so requires a lot more attention / effort than just a code review.

[2018-12-09 07:20] spinus commented on #210
Title says multiprocessing and then in first paragraph you mention threads. Which one are you trying to solve?

From your example I think multiprocessing not multithreading?
In that case, I would just initialize jaeger client inside each process and send traces from them.

[2018-12-12 22:16] mjgorman commented on #199
Just throwing a +1 here. We were getting ready to start an implementation and this may delay us given the changes.

[2018-12-14 04:41] tvfoodmaps commented on #199
Is this issue the reason I get:

[code]

When I try to install both Flask-Opentracing and jaeger-clent I get:

`jaeger-client 3.13.0 has requirement opentracing<2,>=1.2.2, but you'll have opentracing 2.0.0 which is incompatible`

[2018-12-14 05:19] zhengyifan opened #225 "Does jaeger python client support python3.5 now?"
From CONTRIBUTING.md, we know that jaeger client only supports Python 2.7, but we try to use it in python 3.5 and it works fine。
So whether it supports python3.5 or not?

[2018-12-14 15:06] black-adder commented on #225
Yes, python 3 is supported https://github.com/jaegertracing/jaeger-client-python/blob/79d968f65d6fd58a4a56ebeae9ab4a6a908a6809/CHANGELOG.rst#390-2018-04-20. Sorry we forgot to update our documentation

[2018-12-14 15:57] #225 closed

[2018-12-17 12:13] spinus commented on #210
I guess you could pass span (or span ID) to child process (if you want that hierarchy). I use it with web server where each process process requests independently and works fine.

[2018-12-18 16:13] sspiros commented on #50
Hello,
I am hijacking this thread since I am facing an issue with the reporting of the spans. I would like to integrate the library in a StackStorm project (the underlying stack includes the usage of gunicorn and eventlet). My approach is the instantiation of a jaeger client (as a member of a custom singleton class) and the reporting of the spans is done inside a decorator used in the functions I

[2018-12-18 16:45] yurishkuro commented on #50
There is no different approach, I think, we just need to fix this specific issue.

[2018-12-25 16:00] vinhlh commented on #199
+1

[2018-12-28 23:45] yurishkuro commented on #88
The proposed PR did not solve this, and it does not appear to be a particularly pressing issue.

[2018-12-28 23:45] #88 closed

[2019-01-02 09:27] bhavin192 opened #228 "Support for 128 bit trace_id"
## Requirement - what kind of business use case are you trying to solve?
I'm trying to implement Jaeger tracing in a flask app which will be running on [Fission](https://fission.io/)

## Problem - what in Jaeger blocks you from solving the requirement?
The Jaeger Python client currently does not support 128bit tracing id while some of the other clients do support it.

## Proposal - what do you sug

[2019-01-02 15:46] black-adder commented on #228
Yes, we definitely want to support 128 bit trace_ids and would really appreciate it if you can put up a PR for it.

[2019-01-02 17:21] bhavin192 commented on #228
@black-adder thanks, I have started working on this.

[2019-01-03 23:20] FlorianKuckelkorn opened #229 "OpenFaas - serverless functions"
Hi,

i am using the jaeger python client library in my serverless functions run with OpenFaaS on Docker Swarm.
So far it does work, but calling tracer.close only works if  i put time.sleep behind it :(
I Included the tracing stuff inside the request handler of the serverless function.

That time.sleep does increase function execution time extremly!
Is there a way to solve this in a more reliable a

[2019-01-03 23:54] yurishkuro commented on #229
you need a fix for #50

[2019-01-04 06:30] bhavin192 commented on #229
We faced same issue while implementing tracing for Fission's Python Environment. As yurishkuro said here https://github.com/jaegertracing/jaeger-client-python/issues/50#issuecomment-394922333, I'm just creating tracer once for lifetime of the function. In Fission if there are no requests for certain amount of time, the Pod where function code is running gets killed, so that works for now. i.e. Cre

[2019-01-10 10:16] ZmeiGorynych commented on #189
Thanks! Ran into the same thing.
It seems a bit harsh for the code to fail on Windows because of this, would it not make more sense to return an IP of 'Unknown IP' or something like that?
Happy to submit a pull request for that.

[2019-01-10 16:57] yurishkuro commented on #189
PRs are always welcome

[2019-01-10 19:50] yurishkuro opened #232 "Clean-up pins in the dependencies"
We are pinning too many test dependencies, those pins are starting to create cascading issues between them. We need to try to remove most of the pins, and find alternative solutions for cases like this:
[code]

[2019-01-12 00:07] AYEG opened #234 "ModuleNotFoundError: No module named 'jaeger_client'"
## Requirement - what kind of business use case are you trying to solve?
Trying to use jeager_client for the first time within a flask application and I'm receiving this import error
`ModuleNotFoundError: No module named 'jaeger_client`

It was installed with the command:

  within an active conda environment and like other packages I can see it is installed at the correct location.

There is an _

[2019-01-12 19:39] alexellis commented on #229
Hi, did you get a resolution for this? Maybe it's something the project team can help with if you ask on Slack? https://docs.openfaas.com/community

Alex

[2019-01-12 19:47] yurishkuro commented on #229
as I said, the resolution would be to fix #50

[2019-01-13 00:11] FlorianKuckelkorn commented on #229
Hi,
i only worked out a indirect solution. @alexellis as you suggested here: https://github.com/openfaas/faas/issues/1004

i switched to the of-watchdog with flask an initilaized the jaeger client globally like bhavini92 in fission did.
Seems to work :) But in general fixing #50 seems to be a good idea

THanks so far

[2019-01-14 05:32] bhavin192 commented on #232
While going through setup.py I found that we are using `pytest-tornado` which seems to be not maintained any more. https://github.com/eugeniy/pytest-tornado/issues/41 https://github.com/eugeniy/pytest-tornado/issues/37
We are pinning the pytest version to avoid the warnings created by `pytest-tornado`

[2019-01-17 16:00] #189 closed

[2019-01-18 05:16] pravarag commented on #234
Can u check in your pip freeze output whether jaeger-client and opentracing are installed or not?

[2019-01-19 16:22] #228 closed

[2019-01-19 18:28] yurishkuro opened #235 "Remove dependency on Tornado"
The only part of Tornado that we really depend on is the implementation of the queue used to pass spans between the application and the background thread.  I think it would be better to remove that dependency altogether and manually create a background thread, similar to how [lightstep tracer](https://github.com/lightstep/lightstep-tracer-python) does it. It looks like this was first proposed in h

[2019-01-21 10:46] pravarag commented on #234
no, it can't be a naming issue as imports in Python are mostly declared using '_' only. I faced a similar situation running jaeger in a containerized environment. So for that actually I was using requirements.txt from here [opentracing jaeger-client-python](https://github.com/yurishkuro/opentracing-tutorial/blob/master/python/requirements.txt) . I had to remove every other installation of jaeger-c

[2019-01-21 14:34] AYEG commented on #234
Thanks for helping out that resolved the error, I'll give jaeger another try soon!

[2019-01-21 14:34] #234 closed

[2019-01-26 14:33] pravarag commented on #235
Upon digging more for this issue related to 'dependency on tornado', I could see the impact on 5 core files in total as of now: ioloop_util.py, local_agent.py, reporter.py, sampler.py & throttler.py
This could be a big change.

[2019-01-27 19:25] jordo1138 opened #236 "serverless framework plugin for jaeger-client-python"
After reviewing Thundra, IOpipe, Epsagon and others from AWS layers announcement at RE:invent 2018 I believe we all would be down the right path with creating  a serverless framework plugin for jaeger, starting with Python. Thundra’s way of sending data asynchronously is also promising
See example https://github.com/serverless/plugins
The plugins allow for those previously mentioned clients to hav

[2019-02-01 21:46] nicholasamorim commented on #199
+1

[2019-02-04 07:03] nicholasamorim commented on #199
The last merges brok the OT2.0 PR, #206.

@yurishkuro @mihau Is there any way I could contribute to get this merged?

[2019-02-15 03:49] zhanglianquan opened #237 "class Tracer's bug"
class Tracer(opentracing.Tracer):
    """
    N.B. metrics has been deprecated, use metrics_factory instead.
    """
    def __init__(
        self, service_name, reporter, sampler, metrics=None,
        metrics_factory=None,
        trace_id_header=constants.TRACE_ID_HEADER,
        baggage_header_prefix=constants.BAGGAGE_HEADER_PREFIX,
        debug_id_header=constants.DEBUG_ID_HEADER_KEY,

[2019-02-15 03:49] zhanglianquan commented on #237
# Note: bug , can't implement super class opentracing.Tracer  's  scope_manager
        # super(Tracer, self).__init__()

[2019-02-15 05:43] pravarag commented on #237
did you face any particular error while implementing opentracing.Tracer's as super Class ?

[2019-02-18 02:43] zhanglianquan opened #238 "why hasn't HTTPHeadersCarrier"
impoort opentracing
opentracing.HTTPHeadersCarrier

 AttributeError: module 'opentracing' has no attribute 'HTTPHeadersCarrier'

[2019-02-18 02:47] zhanglianquan commented on #238
other language ,  why has  HTTPHeadersCarrier from  opentracing? such
![image](https://user-images.githubusercontent.com/20316829/52925102-90c6ac00-336a-11e9-87b0-fe6f195af3d0.png)

[2019-02-18 03:53] zhanglianquan opened #239 "use official website‘s issue"
with tracer.start_span('TestSpan') as span:
        span.log_kv({'event': 'test message', 'life': 42})

        with tracer.start_span('ChildSpan', child_of=span) as child_span:
            span.log_kv({'event': 'down below'})

time.sleep(2)   # yield to IOLoop to flush the spans - https://github.com/jaegertracing/jaeger-
client-python/issues/50
 tracer.close()  # flush any buffered spans

issue：

[2019-02-18 06:02] zhanglianquan commented on #237
# Handling done through a try construct:
       span = tracer.start_span(operation_name='someWork')
       scope = tracer.scope_manager.activate(span, True)
       try:
           # Do things.
       except Exception as e:
           scope.set_tag('error', '...')
       finally:
           scope.finish()

error tips：
AttributeError: 'Tracer' object has no attribute 'scope_manager'

[2019-02-18 06:20] zhanglianquan commented on #239
use use official website‘s demo  issue？
the content is same about the ChildSpan and it's parent TestSpan , only span's operation_name is diffrence , why can't show  unique operation_name TestSpan  in jaeger ui

[2019-02-18 15:34] yurishkuro commented on #239
When you create a span, you create a span. If it's operation name is different then it will show in the UI. This is by design.

Maybe what you want is to only see the entry spans (aka endpoint names) in the dropdown, and not the inner spans within a service. It's possible but will require a sizeable change in the Jaeger backend.

[2019-02-18 15:34] #239 closed

[2019-02-18 15:36] yurishkuro commented on #237
Duplicate of #199

[2019-02-18 15:36] #237 closed

[2019-02-18 15:37] yurishkuro commented on #238
Go has only one common way of representing HTTP headers, so including a helper in the opentracing library made sense. In Python there's no such standard.

This is a question for opentracing-python, not Jaeger.

[2019-02-18 15:37] #238 closed

[2019-02-21 09:35] zhanglianquan commented on #239
we need  show same operation name  in the dropdown

[2019-02-21 09:36] zhanglianquan commented on #239
we need  show same operation name  in the dropdown

[2019-02-21 10:10] zhanglianquan commented on #239
i want is that to only see the entry spans (aka endpoint names) in the dropdown,

[2019-02-21 10:11] zhanglianquan commented on #239
i want is that to only see the entry spans (aka endpoint names) in the dropdown,

[2019-02-21 12:32] likewei1981 commented on #60
def init_tracer(service):
    logging.getLogger('').handlers = []
    logging.basicConfig(format='%(message)s', level=logging.DEBUG)

    Config(
        config=config.JAEGER_TRACING_CONFIG,
        service_name=service,
    ).initialize_tracer()

import thread
thread.start_new_thread(init_tracer, (config.APP_NAME,))

[2019-02-21 12:32] likewei1981 commented on #60
`def init_tracer(service):
    logging.getLogger('').handlers = []
    logging.basicConfig(format='%(message)s', level=logging.DEBUG)

    Config(
        config=config.JAEGER_TRACING_CONFIG,
        service_name=service,
    ).initialize_tracer()

import thread
thread.start_new_thread(init_tracer, (config.APP_NAME,))`

[2019-02-21 15:42] black-adder commented on #239
Can you create a ticket in the main jaeger [repo](https://github.com/jaegertracing/jaeger)? It looks like you only want to see root spans (aka endpoint names) in the list and this will require a large amount of changes in the backend.

[2019-02-22 02:40] zhanglianquan commented on #239
other jaeger client  such as  :
![image](https://user-images.githubusercontent.com/20316829/53215838-62f4a680-368d-11e9-8b21-b246d0929b0f.png)

 TestSpan is only showing in jaeger ui dropdown , because
TestSpan and ChildSpan are the same content， why not show one?

[2019-02-25 06:47] bhavin192 commented on #190
I'm working on adding support for references

[2019-02-25 06:55] zhanglianquan opened #240 "using official website‘s demo issue in jaeger ui dropdown"
with tracer.start_span('TestSpan') as span:
span.log_kv({'event': 'test message', 'life': 42})

[code]
time.sleep(2) # yield to IOLoop to flush the spans - https://github.com/jaegertracing/jaeger-
client-python/issues/50

ther jaeger client such as :
![image](https://user-images.githubusercontent.com/20316829/53319359-4d8daf80-390d-11e9-8dff-22b561d8d980.png)

TestSpan is only showing in jaeger ui

[2019-02-26 08:40] mkiran18 commented on #144
Hi @black-adder ,

I see lot of commentary on the upserting spans entries it in ES storage in jaegertracing/jaeger#729 , is this features already released ?

thanks

[2019-02-26 23:03] prometheanfire commented on #199
Ya, it would be nice to have some movement on this, get a release supporting opentracing-2 before we tag our bi-yearly releases.

[2019-02-27 16:04] prometheanfire opened #242 "Support tornado-5"
## Requirement - what kind of business use case are you trying to solve?

Update requirements for the openstack/requirements project.

    2019-02-27 07:13:18.572773 | ubuntu-xenial | ContextualVersionConflict: (tornado 5.1.1 (/home/zuul/src/git.openstack.org/openstack/requirements/.tox/py27-check-uc/lib/python2.7/site-packages), Requirement.parse('tornado<5,>=4.3'), set(['jaeger-client']))

## Pr

[2019-02-27 17:51] yurishkuro commented on #242
I would rather do #235 instead.

[2019-02-27 17:56] prometheanfire commented on #242
yep, that'd work too

[2019-02-28 03:39] HadesJim opened #243 "jaeger-client-python‘s bug in jager ui dropdown widget"
When we deployed jaeger-client-python to the production environment, we found a jaeger ui display bug.

[2019-02-28 03:53] HadesJim commented on #243
![image](https://user-images.githubusercontent.com/48077924/53539837-1ce88880-3b4e-11e9-80ee-efdb341c0463.png)
![image](https://user-images.githubusercontent.com/48077924/53539866-338edf80-3b4e-11e9-9fe3-534488be6e9f.png)

V2/order/cart/index is a subrequest of /order/cart_info, and the two contents are the same. Why do you display the /order/cart_info request in the jaeger-ui dropdown control?

!

[2019-02-28 03:55] HadesJim commented on #243
Then I use the official website example is the same bug，

[2019-02-28 04:39] yurishkuro commented on #243
I don't understand what you see as a bug here. The search returns any traces that match the search criteria. The trace contains both `/order/cart_info` and `v2/order/cart/index` spans, so it shows in both results.

[2019-02-28 05:12] yurishkuro commented on #199
I'm almost done with my book, will get to these in March.

[2019-03-06 07:10] #243 closed

[2019-03-24 08:18] tvvignesh commented on #199
Eagerly awaiting this release. Currently we are working with v1.3.0 of OpenTracing, not sure how many breaking changes would come in to the code after the upgrade.

[2019-03-25 14:20] gane5hvarma opened #244 "tracer object has no attribute start_active_span. using python lib"
As shown in the tutorial https://github.com/yurishkuro/opentracing-tutorial/tree/master/python/lesson02 .
when i execute wiht tracer.start_span its working. but, using tracer.start_active_span is giving me an error saying tracer object has no attribute start_active_span

[2019-03-27 06:27] gane5hvarma commented on #244
@yurishkuro

[2019-03-27 21:28] nziebart opened #246 "Support flushing span queue at process exit"
## Requirement - what kind of business use case are you trying to solve?

We would like to ensure all tracing data is flushed to the backend before exiting the Python process. We have many jobs that are short-lived python processes, and the entire process is traced. Since the very last call to `span.finish()` happens right before the process exits, that span does not make it to the backend, becaus

[2019-04-02 12:26] jpkrohling opened #248 "Add a MAINTAINERS/CODEOWNERS file"
See jaegertracing/jaeger#254

[2019-04-04 18:13] arwineap commented on #244
@gane5hvarma I was having this issue, and noticed that I had opentracing version 1.3, but start_active_span was added in 2.0.0

https://github.com/opentracing/opentracing-python/commit/2f79bf319fb727da9ef451b4107179eb59e90eb8#diff-a1898244c8c6ea29725a1d5333973b9aR62

[2019-04-04 18:29] arwineap commented on #244
These actually seem to be the core of my issue after downgrading to 0.2.0

https://github.com/opentracing-contrib/python-flask/issues/29

https://github.com/jaegertracing/jaeger-client-python/issues/199

[2019-04-06 01:24] #236 closed

[2019-04-11 03:17] martin-kieliszek commented on #235
gunicorn with eventlet worker class makes introducing this library very difficult. Shame I have a dependency on eventlet in my codebase. If any advice, please let me know

[2019-04-24 12:35] nicholasamorim commented on #199
Sorry to ask, but is this moving forward or will this project be relatively unmaintained for the time being? We were considering using Jaeger but the fact that the client doesn't get to OT2.0 and Tornado>5 is a fairly big showstopper at the moment.

[2019-04-24 14:02] yurishkuro commented on #199
I'm planning to finish it this weekend

[2019-04-24 15:19] r0fls commented on #199
Is there a way to use the jaeger client python right now before this release is made? When using it with https://github.com/opentracing-contrib/python-flask it seems they both require incompatible versions of opentracing. Is there a release combination that works together right now?

[2019-04-24 17:14] yurishkuro commented on #199
I used a temporary branch in my book:

https://github.com/PacktPublishing/Mastering-Distributed-Tracing/blob/fb83d0766face96fc5b0a2b9485ffd3c3fd62743/Chapter04/python/requirements.txt#L10

[2019-04-24 18:45] mihau commented on #199
I updated my pull request, the code seems to work fine. I'm using it successfully with gevent scope manager. @yurishkuro let me know if there is anything I can help with regarding this issue, I should manage to find some time to do any necessary fixes this week.

[2019-04-24 19:02] yurishkuro commented on #244
Duplicate of #199

[2019-04-24 19:02] #244 closed

[2019-04-25 21:24] r0fls commented on #199
I get this error when I try to use the forked version:

[code]

[2019-04-27 20:39] #190 closed

[2019-04-27 21:06] #199 closed

[2019-04-28 19:34] tvvignesh commented on #199
@yurishkuro Just noticed the upgrade. Thanks. Any API changes to Jaeger client? Or will my old code still work?

[2019-04-28 19:50] yurishkuro commented on #199
I did an experiment in our internal test bed and it worked fine without changes. But this release introduces built-in context propagation (via Scope Managers).

[2019-05-08 15:42] jay56567 commented on #210
Thanks for the example @fox91, I added inject/extract calls to get the span from the "parent" process into each "child" process. By comparing all the span IDs, they all make sense. The span ID in `inject` matches the span ID in `extract`. But somehow none of the spans in the child process gets reported to the collector. Any ideas?

[2019-05-08 15:44] jay56567 commented on #210
The related code looks like this:
[code]
And output is:
[code]

[2019-05-17 15:33] pzheng64 commented on #47
@yurishkuro What is the meaning of `local_agent` config? If I'm running jager-all-in-one using jaeger-operator on k8s, what should be the config array here?
`# default tracer is opentracing.Tracer(), which does nothing
OPENTRACING_TRACER_CALLABLE = __name__ + '.tracer'

def tracer():
    install_all_patches()
    config = Config(
        config={
            'sampler': {
                'type': 'c

[2019-05-20 12:23] nicholasamorim commented on #224
I have an initial implementation that works-ish. The basic injecting works but the baggage one doesn't seems to work.

I've never worked with binary data before as well so I might be far off mark here. @black-adder could you do a quick review of this work-in-progress?

[code]

[2019-05-22 09:39] illogikus commented on #210
Hello,
I ran into the same problem as @fox91 yesterday.
The `ERROR:__main__:can't pickle _thread.lock objects` is simply due to the fact that you are trying to serialize the whole parent Span to pass it to the subprocess. Just pass the SpanContext instead and you should be fine.

Just edit your code as follow:
[code]

However, you will then most likely run into the same issue as @jay56567 (and me

[2019-06-05 16:05] yurishkuro commented on #224
I see several issues here. First, Cassandra zipkin tracer is, well, a **zipkin** tracer. I don't know if there's a similar OpenTracing version, eg in opentracing-contrib. If not, it would probably make sense to take the one from lastpickle and refactor to use OpenTracing API. Then it would actually make sense to talk about binary codec.

Second, I don't know if binary codec is even necessary. Does

[2019-06-05 18:41] nicholasamorim commented on #224
That makes sense, that's why I was having difficulties conciliating both ends of this operation. That expects the Zipkin B3 format.

The initial work for the scope of my use case is indeed convert zipkin tracer from TLP. I'll take a look into their code and see how to migrate to OT. I have seen it before and it's certainly small and simple, so that's an effort I might be willing to undertake.

I w

[2019-06-22 14:26] jan25 opened #251 "Bug: span.finish() reports duplicate spans"
Current `span.finish()` [implementation](https://github.com/jaegertracing/jaeger-client-python/blob/master/jaeger_client/span.py#L60) just keeps tracks of `end_time`, and reports span on each call which will result in duplicate spans under same trace.

Expected behavior would be- only report the span the first `finish()` is called and fail from second time onwards. Maybe we just need a simple chec

[2019-06-23 10:34] bj00rn opened #252 "Calling start_active_span from within asyncio co-routine"
## Requirement - what kind of business use case are you trying to solve?
New to opentracing. No specific requirement, just a question about using client within `asyncio`co-routine.

## Problem - what in Jaeger blocks you from solving the requirement?

Experiencing erratic behaviour when calling start_active_span from within a `asyncio` co-routine.

Intermittent problems with Spans not being report

[2019-06-23 17:41] yurishkuro commented on #251
OpenTracing leaves tracer behavior as undefined if span.finish() is called >1 times, so technically this is not a bug. Yes, we may want to put a guard and log an error message if that happens. But you should really look into your instrumentation and fix it to not call finish twice.

[2019-06-23 18:38] jan25 commented on #251
Thanks! Yes, my instrumentation was buggy. The code didn't actually call `span.finish()` twice, but one of calls was indirect because i did `scope.close()`. I might've missed this spec for [scope_manager](https://github.com/opentracing/opentracing-python/blob/master/opentracing/scope_manager.py#L42).

If having a guard in `span.finish()` is not very useful we can close this issue.

[2019-06-23 19:03] yurishkuro commented on #251
I think having a guard is useful, we have it in some other Jaeger clients.

[2019-07-11 11:30] alvaradojl commented on #165
I'm having the same issues with the latest python3.7 and jaeger-client 4.0.0, is there any other solution?

[2019-07-11 20:52] #163 closed

[2019-07-14 00:57] #251 closed

[2019-07-24 19:42] pradeepdogga opened #254 "Thrift error "Expected version 01 but got 02""
Hi,

Using the lesson 01 solution in https://github.com/yurishkuro/opentracing-tutorial/tree/master/python/lesson01 I am running into an issue when I am running the same program on ubuntu 14.04 while I have no issue when I run the program on ubuntu 16.04.

The following is the error that I observe in jaeger backend logs:
{"level":"error","ts":1563932465.957273,"caller":"processors/thrift_processor

[2019-07-25 21:12] r0fls commented on #98
@yurishkuro is https://github.com/jaegertracing/jaeger-client-python/pull/208 still being considered?

[2019-08-05 22:35] mohit-chawla commented on #122
@cheveyo20 Can you share details of how you got it to work?

@yurishkuro , is there a tracer for AMQP (rabbitmq) in python? I could not find any.  (I am trying to set up jaeger with istio, unfortunately istio-proxy(envoy) does not support protocols other than HTTP, so i am trying to manually set up instrumentation for microservices using AMQP.)

[2019-08-05 22:44] yurishkuro commented on #122
@mohit-chawla I don't know, haven't used rabbitmq/amqp. Sounds like a reasonable case for OpenTracing instrumentation. Have you checked https://opentracing.io/registry?

[2019-08-05 22:49] mohit-chawla commented on #122
@yurishkuro, Thanks for your prompt reply.  Yes, i checked out https://opentracing.io/registry and many other sources, there seems to be one for go (https://github.com/opentracing-contrib/go-amqp) but surprisingly nothing for python.

[2019-08-05 22:54] yurishkuro commented on #122
then you may need to write one :-) . Having Go as a prototype should be helpful

[2019-08-05 22:55] mohit-chawla commented on #122
Yes, i think i may end up writing one. Yes, go as prototype is useful.

[2019-08-05 22:56] yurishkuro commented on #122
I'll close this since it does not really pertain to jaeger-client-python

@cheveyo20 if you could share the instrumentation, it might be useful to others.

[2019-08-05 22:56] #122 closed

[2019-08-06 00:22] pradeepdogga commented on #254
Update: This was because TCompactProtocol.py in the python 2.7 packages in 14.04 had version set to 2.

[2019-08-06 00:22] #254 closed

[2019-08-06 04:34] yurishkuro commented on #254
not sure I understand how that's possible. Isn't that a property of the Python library, not the OS version?

[2019-08-06 04:38] pradeepdogga commented on #254
Exactly. I didn't understand it either.

[2019-08-17 16:37] prometheanfire commented on #199
so, it's been over a year now...

[2019-08-17 18:37] yurishkuro commented on #199
@prometheanfire what are you referring to? Support for OT 2.x was released in Jaeger 4.x https://github.com/jaegertracing/jaeger-client-python/blob/master/CHANGELOG.rst#400-2019-04-27

[2019-08-31 18:56] prometheanfire commented on #242
would it be possible to make a release now that newer tornado is supported, I know it'd be better to just remove it but that doesn't seem to be happening.

https://705045ea5b8347772bdf-570414428d350ad9e168b1568fe3d6d1.ssl.cf2.rackcdn.com/679534/1/check/requirements-tox-py27-check-uc/5014c20/job-output.txt
[code]

The commit I'm looking for in a release is https://github.com/jaegertracing/jaeger-cl

[2019-08-31 19:20] yurishkuro commented on #242
Done in 4.1.0

[2019-08-31 19:20] #242 closed

[2019-08-31 19:21] yurishkuro commented on #201
Done in #247, released in 4.1.0

[2019-08-31 19:21] #201 closed

[2019-09-02 09:03] floatliang opened #256 "Bug: jaeger-client 4.1.0 cannot send udp packet when using gevent with monkey.patch_all()"
## Problem -jaeger-client 4.1.0 cannot send udp packet when using gevent with monkey.patch_all()

hi all, when i using jaeger-client 4.1.0, tornado 5.1.1 with gevent and monkey patch. jaeger-agent cannot receive udp from client， my code is like this:
[code]
and i got a trace graph like this：
![image](https://user-images.githubusercontent.com/33773361/64102505-b7967e00-cda2-11e9-8462-315ad6880cdb.p

[2019-09-02 13:12] floatliang commented on #252
hi, @bj00rn
opentracing provide a scopemanager called AsyncioScopeManager can handle it.
when you using it in a thread that does not have event loop it will fallback to ThreadLocalScopeManger，and when it will store current scope in current task ‘ACTIVE__ATTR' variable when there is a event loop in this thread.

[2019-09-02 16:18] yurishkuro commented on #256
Are you saying that it worked with earlier version of Jaeger?

[2019-09-02 16:30] floatliang commented on #256
Yes,it works fine with jaeger-client 4.0.0.
But when i switch it to jaeger-client 4.1.0, it will lost spans.
I noticed that 4.0.0 using tornado 4.6.3 while 4.1.0 using tornado 5.1.1.
So i guess tornado maybe the root cause of this problem.

[2019-09-02 18:52] yurishkuro commented on #256
cc @condorcet any ideas about this?

[2019-09-02 19:25] condorcet commented on #256
@floatliang Which version of python are you using?

[2019-09-03 01:24] floatliang commented on #256
@condorcet python 3.7.1

[2019-09-03 17:47] condorcet commented on #256
There are some difference between management and API of Tornado event loop and asyncio loop. The last one using as default event loop in Tornado 5+ on Python 3.
Actually `threadloop` is not ready for higher versions of Tornado. My assumption:  `gevent.monkey.patch_all()` patches threading module that way that function in another one thread will be executed actually in the same thread. In the same

[2019-09-04 03:22] floatliang commented on #256
@condorcet  thanks for your help!  i'll try it later, if this fix helps i'll let you know.

[2019-09-04 04:16] floatliang commented on #256
@condorcet  I still cannot get any spans from 'gateway' service:
![image](https://user-images.githubusercontent.com/33773361/64225367-b6ce2b00-cf0d-11e9-9149-4edab1e6c9b2.png)
![image](https://user-images.githubusercontent.com/33773361/64225377-bcc40c00-cf0d-11e9-8fe5-7e19deb6ee34.png)

Here is my pip packages in virtualenv:
![image](https://user-images.githubusercontent.com/33773361/64225306-6fe0

[2019-09-04 08:11] condorcet commented on #256
@floatliang Thank you! My apologize, I think it's my mistake and I made wrong commit :) Please try again, I've updated the branch with another one dirty-fix.

[2019-09-04 09:05] floatliang commented on #256
@condorcet  hi， still not work.
I use pdb.set_trace() in _start_io_loop(self) and found that：
![image](https://user-images.githubusercontent.com/33773361/64240958-6d91d180-cf35-11e9-8517-31b749bdf6de.png)

It seems there is no current loop in new thread , so it didn't enter `if _io_loop`.

[2019-09-04 09:47] condorcet commented on #256
@floatliang Ok, it means there are another problem. Is it possible to share your project or made an example? I'll try to find the problem.

[2019-09-04 13:04] floatliang commented on #256
@condorcet  hi , i upload this demo to my github repository:
https://github.com/floatliang/jaeger_tracing_example

I deploy all components in docker and in the same machine.

[2019-09-04 16:57] condorcet commented on #256
@floatliang Thank you.
@yurishkuro Patching standard library with `gevent` makes multi-threaded code single-threaded. And it seems that `_consume_queue` fall into lock here https://github.com/jaegertracing/jaeger-client-python/blob/master/jaeger_client/reporter.py#L161
I think it's better to report span always via `add_callback` https://github.com/jaegertracing/jaeger-client-python/blob/master/jae

[2019-09-05 04:44] yurishkuro commented on #256
@condorcet agreed. Do you want to make a PR?

[2019-09-05 04:45] yurishkuro commented on #256
NB: it was unnecessary optimization while trying to fix the bug where we were putting into queue directly from `report_span`, which didn't work from another thread.

[2019-09-05 10:16] condorcet commented on #256
@yurishkuro Ok, I'll make PR. But my first assumption still valid. If someone want to use `gevent.monkey.patch` with asyncio applications (e.g. based on Tornado 5+), they can face with that problem :) I don't think that we should solving it, just keep in mind.

[2019-09-05 10:39] Jamim commented on #256
I believe it's worth mentioning in the documentation (in case it's not mentioned yet).

[2019-09-06 01:02] mohit-chawla commented on #122
@yurishkuro, I am trying to report spans manually from AMQP related services. Can you pl point me to a resource on how can i report a span to jaeger backend manually over http?
My services are in kubernetes-istio env and i cant figure out how exactly istio reports spans to jaeger-collector.

[2019-09-06 01:42] yurishkuro commented on #122
Python client doesn't support reporting spans over http right now.

[2019-09-06 02:19] mohit-chawla commented on #122
@yurishkuro , is there any protocol over which i can send traces to jaeger collector manually in python. If yes, how?

[2019-09-07 14:36] #256 closed

[2019-09-07 23:41] yurishkuro commented on #122
Not in Python, I think it's the only Jaeger client that does not support reporting over HTTP.

You can try to implement your own reporter, but our long term plan is to support HTTP in Jaeger directly, it's just nobody has time to implement it. At Uber we always report spans to the agent that runs on the host, I don't know if you can use that w/ AMQP.

[2019-09-28 18:51] approximator opened #259 "Drop Python2 support"
## Requirement - what kind of business use case are you trying to solve?

Reduce development and maintenance load by dropping support of Python2

## Problem - what in Jaeger blocks you from solving the requirement?

Having to support both Python2 and Python3 increases the amount of effort needed for fixing existing issues.

## Proposal - what do you suggest to solve the problem or improve the exis

[2019-09-28 19:03] approximator commented on #235
Is it possible to make the changes gradually?
Maybe it's a good idea to make several independent PRs removing Tornado usage in one file at a time (of course ensuring that nothing breaks). And in the end, clean up dependencies.
That could help to decrease efforts and simplify code review.

[2019-09-29 17:37] yurishkuro commented on #235
This can certainly be done piecemeal, e.g. start with refactoring of the reporting functionality, which is the most important one.

The only downside of implementing reporter, sampler, throttler completely separately is that they all have some background activity, and having each one start a thread for that is not a great solution. Although I could be wrong - are many threads "ok" in Python?  If n

[2019-10-04 07:52] zrayn commented on #235
A couple of questions:

It looks like Tornado uses a non-thread-safe queue to perform its work, do you want to keep this semantic or switch to a thread-safe implementation (that can leverage more of the standard library) and incur whatever overhead comes with that?

The python 2.7 compatibility pushes a Tornado replacement into a threaded implementation as opposed to an async/await implementation,

[2019-10-04 13:27] yurishkuro commented on #235
That's an interesting thought. Yes, perhaps an async but single threaded implementation is the way to go. But I think this needs some benchmarking. If async has similar performance, then a parallel set of components can be created for py3.

[2019-10-08 14:32] approximator commented on #259
Python2 will be discontinued on January 1, 2020
https://www.python.org/doc/sunset-python-2/

So, is there any reason to support it here?

[2019-10-08 15:46] yurishkuro commented on #259
End of official support doesn't mean people would immediately stop using it. Supporting 2.x in this lib is not such a large effort.

[2019-10-08 18:18] condorcet commented on #251
Hm, I found that `span.finish` behavior is inconsistent now. If span isn't sampled it won't be finished in term of flags `finished` and `end_time` https://github.com/jaegertracing/jaeger-client-python/blob/master/jaeger_client/span.py#L74 I don't think it's a big problem but it may be uncomfortable  when debugging or for third-party tracing library, for example. cc @jan25

[2019-10-08 20:29] jan25 commented on #251
Hi @condorcet ! Semantically this behavior of not finishing isn't changed from before this issue/PR. And, span isn't sampled means the respective trace(all spans under it) won't be reported, so marking span as finished or trying to report would be redundant anyway.

Could you explain more on what you're trying to achieve/debug w.r.t non sampled spans?

[2019-10-21 17:39] hitesh1907nayyar opened #263 "Problem with Jaeger Tracing with flask"
Hi,

I am using the below python file to get a trace of the request in jaeger.

from flask import Flask
from flask import request
import requests
from opentracing_instrumentation.client_hooks import install_all_patches
from jaeger_client import Config
from flask_opentracing import FlaskTracer

@app.route('/')
def pull_requests():

  github_url = "https://api.github.com/repos/opentracing/opentracin

[2019-10-21 17:51] yurishkuro commented on #263
set_global_tracer did not exist in the earlier versions of opentracing-python, make sure you're using consistent dependnecies.

[2019-10-21 18:16] hitesh1907nayyar commented on #263
Hi @yurishkuro

Thanks for the reply. I am using below dependencies. Can you please help provide the direction as what should i do.

[ec2-user@ip-172-31-17-90 ~]$ sudo pip install flask_opentracing
Requirement already satisfied: flask_opentracing in /usr/local/lib/python2.7/site-packages
Requirement already satisfied: Flask in /usr/local/lib/python2.7/site-packages (from flask_opentracing)
Require

[2019-10-21 18:48] yurishkuro commented on #263
this looks a bit suspicious: `opentracing<2.1,>=2.0`, it should be `>=2, <3`

[2019-10-21 18:49] yurishkuro commented on #263
I recommend using pip-compile set of tools to ensure that your project's dependencies are consistent.

[2019-10-28 03:00] hitesh1907nayyar opened #264 "Problem with tracing as application is not working in docker"
Hi All,

Request your help in solving my problem. I am new to jaeger.

I have a created a sample python flask application which sends traces to jaeger when i run manually(shown below) [python pythoncompleteflowdocker] with the name pythoncompleteflowdocker.py:

from flask import Flask
from flask import request
import requests
#from opentracing_instrumentation.client_hooks import install_all_patche

[2019-11-05 04:08] ndhcoder opened #265 "Jaeger client does'nt report span to agent (still have log "Reporting span ...")"
## Problem - what in Jaeger blocks you from solving the requirement?
I using Python 2.7.5, Jaeger-client 4.1.0,  Jaeger backend all-in-one latest
My program contain 2 service A, B, when i'm trace a request throught A and B I have problems the are:
+ Backend UI only have spans of service A

In the logs, Service A have log of UDP call (I was added on TUDPTransport.py write())   but in service B: sti

[2019-11-05 04:19] ndhcoder commented on #265
Some logs:
Service A:
![image](https://user-images.githubusercontent.com/41509130/68178294-0f797d00-ffbe-11e9-95d8-b738c352f11f.png)

Service B:
![image](https://user-images.githubusercontent.com/41509130/68178258-e9ec7380-ffbd-11e9-8817-3189125f45cd.png)

[2019-11-05 07:47] ndhcoder commented on #265
The report_span_from_ioloop never call on Service B

[2019-11-05 08:01] ndhcoder commented on #265
_consume_queue also never call on Service B

[2019-11-05 09:24] ndhcoder commented on #265
Log file:
Service A: http://codepad.org/HqZseFUx
Service B: http://codepad.org/iMkPg8Ar

[2019-11-06 09:44] ndhcoder commented on #265
The _report_span call on both service

[2019-11-07 03:49] ndhcoder commented on #265
I saw tracer on Service B when init doesn't have log on _consume_queue method and not have log of sample interval 60s :( but Service A has it.

[2019-11-07 03:50] ndhcoder commented on #265
Have anyone ?

[2019-11-07 09:28] ndhcoder commented on #265
I saw io loop of Service A is instance of tornado.platform.epoll.EPollIOLoop object
But Service B is instance of tornado.platfrom.select.SelectIOLoop Object and call back on Reporter when add to this io_loop type nerver be call.

Why they different when all condition of varible on those method are same all ??

[2019-11-08 09:01] ndhcoder opened #266 "Jaeger client not send spans when source have setup eventlet"
Hi,
I'm use project with folling code:

[code]
when add that code to the source, the jaeger client will not working.
Please check that

Log:
`Reporting span ....` still show, but method like _consume_queue, _submit never be call. so the spans never send to agent.
May be callback add to io_loop never be called.

[2019-11-11 10:01] lamto20132223 commented on #265
@ndhcoder I had the same issue when using Jaeger in combination with Osprofiler in both Rocky and Stein.
As far as I know because Jaeger client uses tornado and it doesn't work with eventlet, but even when trying to turn off eventlet in Openstack code it still doesn't work.
Has anyone got this issue and found the solution yet?

[2019-11-11 11:00] lamto20132223 commented on #235
@yurishkuro @martin-kieliszek
Hi everyone, I have a problem with Openstack Osprofiler and Jaeger client.
Because Openstack uses the eventlet library, it doesn't work with Tornado in Jaeger.
Does anyone have a solution to this problem? Thanks.

[2019-11-11 12:19] karlodwyer commented on #252
I ran into the same problem trying to instrument aiohttp.

[code]

I'm seeing the same behaviour, I'm not sure if I am doing something wrong or there is an issue in with the context manager.

It looks like the span is okay in the server middleware, but the client trace config isn't able to access the active span.

![image](https://user-images.githubusercontent.com/790831/68586775-4dbee280-047d-11e

[2019-11-11 15:22] karlodwyer commented on #252
@bj00rn have you any other examples of this ?

[2019-11-11 19:32] condorcet commented on #252
Hi @karlodwyer! In `on_request_start` method you create new span with `start_span`, but it's not active in this or children coroutines. My recommendation: 1) try `start_active_span` instead `start_span` or 2) add span to aiohttp context explicitly and then pop this span in `on_request_end`.
Also I assume that you should use `start_active_span` for your server middleware, else you will faced with s

[2019-11-11 19:40] condorcet commented on #265
@ndhcoder @lamto20132223 Sounds very similar to https://github.com/jaegertracing/jaeger-client-python/issues/256 Have you try to use latest jaeger-client from sources?

[2019-11-11 23:34] ndhcoder commented on #265
Yes. I'm use 4.1.0

[2019-11-12 04:48] lamto20132223 commented on #265
@condorcet Thanks for your support. I checked #256 and test all your suggest but it not work.
I'm using jaeger-client=4.1.0 and modify follow
 def report_span(self, span):
        self.io_loop.add_callback(self._report_span_from_ioloop, span)
But it doesnt help.
Could you please help me checkout my small source code.
`https://github.com/lamto20132223/github_folder/blob/master/demo.py`

I want to u

[2019-11-12 09:29] karlodwyer commented on #252
Hi @condorcet, I tried that and I have a similar problem,

[code]
throws an exception:
`AttributeError: '_AsyncioScope' object has no attribute 'set_tag'`

Any ideas or further guidance would be appreciated.

[2019-11-12 11:39] condorcet commented on #252
@karlodwyer start_active_span returns instance of scope, not span. You should use `span` attribute of the scope.

[2019-11-14 16:30] condorcet commented on #265
@lamto20132223 I haven't enough time to explore this problem, but yes it's seems that Tornado doesn't work with Eventlet. I've  noticed different implementations of io_loop inside Tornado with/without Eventlet monkey patching.
Also I've seen io_loop hangs on working with `os.fdopen` that patched by Eventlet and this blocks entire loop. Simple tornado coroutines works well (periodic callbacks for e

[2019-11-14 20:41] condorcet commented on #265
@lamto20132223 Ah, ok, it's known issue https://github.com/eventlet/eventlet/issues/529 It seems the only possible way is don't do monkey patch of `os`  in eventlet, if it possible in your application.

[2019-11-15 02:44] lamto20132223 commented on #265
@condorcet I got it, thanks for advice

[2019-11-19 00:53] comeaujoseph commented on #69
Unable to get jaeger working with nginx + uwsgi + django. Any suggestions on a fix?

[2019-11-20 08:50] JeromeK13 commented on #165
Any Updates on that?

[2019-11-30 22:49] alexppg opened #268 "Use service name as label instead of metric name"
A microservice name called "python_microservice" will create metrics like this:
[code]
The microservice name it's part of the metric name instead of the label. This is not a prometheus good practice, since it makes it difficult to aggregate metrics from different microservices. The metrics should be:
[code]
Thanks for your work!

[2019-12-01 00:23] yurishkuro commented on #268
I am not seeing where in Jaeger client we would prepend service name like this. Are you sure this is not something you're doing yourself? How do you initialize Jaeger tracer?

[2019-12-01 00:28] alexppg commented on #268
The namespace seems to be the part that initializes the name:
[code]

The `your-app-name` is what I set as `python-microservice`.  If you change the namespace, you can see how the metric name changes.

[2019-12-01 00:34] yurishkuro commented on #268
That is how Prometheus client deals with the namespace, not Jaeger. You don't have to pass this namespace, it defaults to blank:

https://github.com/jaegertracing/jaeger-client-python/blob/900c5092b40ca266e29eeeac50b82af1858bfeac/jaeger_client/metrics/prometheus.py#L24

[2019-12-01 00:45] alexppg commented on #268
Ah, I see, thanks! But still, a label with the service name would be useful, wouldn't be? Without it, you can't differentiate multiple microservices.

[2019-12-01 02:44] yurishkuro commented on #268
Yes, it would make sense as an optional feature. Are you interested in submitting a PR for it?

[2019-12-01 23:01] alexppg commented on #268
Sure! I've just opened https://github.com/jaegertracing/jaeger-client-python/pull/269.

[2019-12-06 03:05] #268 closed

[2020-01-07 09:56] sc-syf opened #270 "Use span.set_baggage_item in Tornado"
## Requirement - what kind of business use case are you trying to solve?
`jaeger_client.span.Span.set_baggage_item` need a threading lock, i wonder if it can be used in Tornado.

## Problem - what in Jaeger blocks you from solving the requirement?
the Tornado is a single thread web framework, will it increase the latency of the whole application?

## Proposal - what do you suggest to solve the pro

[2020-01-07 17:12] yurishkuro commented on #270
That's not correct, we have multi-threaded Tornado apps. Even Jaeger client itself starts a separate thread.

[2020-01-09 10:45] sc-syf commented on #270
@yurishkuro yes, I means use this method(`set_baggage_item`) in Tornado application's main thread methods such as `self.finish()` or `self.on_finish()`, does it affect the performance?
Just as [opentracing-tornado](https://github.com/opentracing-contrib/python-tornado) wrote, it patched the on_finish method and do the span's extract. if  I want to set a baggage in this method, is this a correct wa

[2020-01-09 11:34] condorcet commented on #270
@sc-syf Hi!
As I understood your second question, you can simply override `on_finish` in your application and add `set_baggage_item` before invoking original `on_finish`:
[code]

It's shouldn't affect the performance your application, I don't see the reason why and how it can be.

[2020-01-13 06:08] ashwinbasavaraja opened #271 "Need support for JAEGER_AUTH_TOKEN"
Looking for authentication between jaeger client collector & agent. As per the documentation, the JAEGER_AUTH_TOKEN defines an optional auth token when reporting over HTTP. But it is only supported in Java - https://dzone.com/articles/protecting-the-collection-of-spans

We need similar support in Python client library.

[2020-01-13 17:42] yurishkuro commented on #271
iirc, Python client does not support HTTP reporting in the first place (see #98).

[2020-01-20 10:16] aroopghoshtarento opened #272 "Getting error ModuleNotFoundError: No module named 'jaeger.ttypes'"
in python3.7 while running i am getting below error
[code]

[2020-01-20 15:24] yurishkuro commented on #272
I've seen this long time ago. Are you running some special form of Python with restrictions that block the following code from taking effect?

https://github.com/jaegertracing/jaeger-client-python/blob/2bd1319e302c033eb3341ee50eaeadc010853e8d/jaeger_client/__init__.py#L19-L23

[2020-01-20 15:26] aroopghoshtarento commented on #272
no. I am using virtualenv and then running the python application inside env with flask framework

[2020-01-29 02:17] tjb900 opened #273 "changed default collector sampling probability does not propagate correctly"
## Requirement - what kind of business use case are you trying to solve?

We have long-lived applications using the python client library, with a centralised strategies file served from the collector, and most operations use the default probability; only a handful are overridden with per-operation strategies.

We'd like to be able to (and assumed we could) change this default probability and have

[2020-02-02 18:59] yurishkuro commented on #272
We are not currently testing with 3.7, so it might be an issue there, or something specific to your setup.

I changed the title to be about 3.7, since we should be supporting it.

[2020-02-02 19:23] yurishkuro commented on #272
Well, ok, py3.7 tests are fine. I suspect it's something about your env. Try to present a reproducer.

[2020-02-03 05:08] aroopghoshtarento commented on #272
below are my env dependency in requirements.txt file

APScheduler==3.6.1
argcomplete==1.8.2
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
backcall==0.1.0
beautifulsoup4==4.5.3
bleach==3.1.0
blis==0.4.1
cachetools==3.1.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
contextlib2==0.5.5
coverage==4.5.4
cymem==2.0.2
dateparser==0.7.2
decorator==4.4.0
defusedxml==0.6.0
docx2txt==0.6
Eb

[2020-02-19 19:48] mohit-chawla commented on #263
@yurishkuro , on a separate note (but related to flask):
Problem: I have been noticing that spans not reported/flushed unless I call tracer.close() manually inside an API. (which is not a good idea, because i dont want to keep creating a new tracer object for each API request.)

Stack: flask (monkey patched, gevent) --> gevent creates a user-level thread for each request.

Am i missing something?

[2020-02-19 20:13] mohit-chawla commented on #263
Also, @yurishkuro regarding 👆 , ideally the reporter should be  reporting every 1 second, but it does not report: https://github.com/jaegertracing/jaeger-client-python/blob/2bb9d0ca9fc2e0517226b632de0f83866d3984c8/jaeger_client/reporter.py#L79

[2020-02-19 20:27] yurishkuro commented on #263
I am not familiar with gevent and its threading model. At Uber, in the past, the Flask-like applications were forking a number of child processes for handing requests, and the forking behavior was conflicting with Jaeger thread until we started doing Jaeger initialization in a `@postfork` function. You might be having a similar issue.

[2020-02-19 20:33] mohit-chawla commented on #263
okay, in that case --
1. Did you had (and in general we need to) a jaeger initialization for each-child-process?
2. If yes to (1.), did you close the tracer/reporter object manually to flush the spans before the child process exits?
Thank you for the prompt reply @yurishkuro 🚀 👍

[2020-02-19 20:57] yurishkuro commented on #263
Yes, by using @postfork annotation we were delaying tracer initialization (and its bg thread) until the child process is started. The child processes were long-lived, so calling close() was not important, because they were continually reporting spans (you might lose a few spans if the process was killed, but in the steady state it was fine). The tracer is supposed to be long-lived.

[2020-02-19 22:22] mohit-chawla commented on #265
@condorcet , i am facing similar issue with gevent monkey patched, went through #256 but still it does not work. jaeger==4.1.0

[2020-02-19 23:19] mohit-chawla commented on #263
@yurishkuro (and @condorcet) thanks for help, this worked for me: https://github.com/jaegertracing/jaeger-client-python/issues/256#issuecomment-527991054

[2020-02-23 22:51] ishrivatsa commented on #98
Is this still going on ? I saw that there was a commit pertaining to http support which was removed. I want to use tracing within Serverless functions like AWS Lambda or Azure functions. I cant use UDP for this. Could you please provide more info ?

[2020-03-05 09:47] phaero opened #276 "Unable to validate config with max_operations"
## Requirement - what kind of business use case are you trying to solve?

Trying to set max_operation in configuration

## Problem - what in Jaeger blocks you from solving the requirement?

Validate config throws an exception if max_operations is present in configuration:
INFO:config {'sampler': {'type': 'const', 'param': '1'}, 'local_agent': {'reporting_host': 'localhost', 'reporting_port': '6831

[2020-03-24 07:49] Kyle-sandeman-mrdfood commented on #264
It would help anyone else reading this if you formatted your code in a code block using triple backticks:
\```
your code here
\```

[2020-03-28 12:39] megavenik commented on #69
Same issue here:(

Looks like debugger initializes just before the creation of uwsgi processes, so noone sends any traces at all:(
[code]

[code]

[2020-05-24 10:56] lukeplausin opened #278 "Adding Jaeger client to project causes PyTest to hang while collecting tests"
## Requirement - what kind of business use case are you trying to solve?

Hi there 👋

I am trying to instrument an application with over 1000 unit tests. After a few days of development I was able to get good results in Jaeger using this client library. However I cannot get my change merged in because Jaeger is somehow causing unit tests on the project to fail. PyTest doesn't even start running th

[2020-05-24 19:40] yurishkuro commented on #278
Are you using the default production Jaeger tracer in unit tests? I would not recommend it. You may notice that almost all unit tests in Jaeger client itself instantiate a tracer with in-memory reporter and a const sampler. If you use default production tracer, it creates threads, sends data to UDP, etc. - you don't need any of that in tests.

Another option, whenever I test just the _instrumentat

[2020-05-24 23:43] lukeplausin commented on #278
Thanks for your fast reply!

I wasn't aware that there are different types of tracers, this was not obvious to me from the Jaeger documentation. I noticed from glancing at the source code that the Jaeger client `Config` constructor accepts an `enabled` key, I naively thought that setting this to `True` would disable data collection.

Is there somewhere that I can read about the different types of

[2020-05-25 01:47] yurishkuro commented on #278
It's not that there are different _types_ of tracers - there's only one Jaeger tracer. But its behavior can vary depending on configuration. If you create it with a simple sampler and in-memory reporter, then the tracer won't be running any background threads, which makes it more suitable for unit tests. But I would still recommend OT MockTracer, because it is officially supported with a read/writ

[2020-05-25 01:49] lukeplausin commented on #278
@yurishkuro thanks to your help I was able to get the unit tests up and running.

Here is my solution, in case anyone else runs into the same issue:

I was able to run unit tests using the `MockTracer` object from opentracing in place of the real Jaeger client tracers. I decided to re-implement the way that tracing objects are created inside my application. There is now a TraceManager singleton cl

[2020-05-25 02:15] lukeplausin commented on #278
I'd like to help if I can, but I'm not very well informed so if I tried to write documentation it wouldn't contain much information. By the way I'm not criticising - I understand the project is a work in progress done on a voluntary basis, and I think you've done a fantastic job with it so far. Thank you for sharing.

[2020-05-25 02:15] #278 closed

[2020-05-25 12:43] lukeplausin opened #279 "Suggestion for improvement - python logging integration"
## Requirement - what kind of business use case are you trying to solve?

I've recently done some work instrumenting an application to use this library for tracing. Whilst I was doing this I developed a couple of custom features which I think could be helpful for others, so I would like to contribute back to the project.

## Problem - what in Jaeger blocks you from solving the requirement?

In my

[2020-05-25 15:30] yurishkuro commented on #279
We cannot make changes to the OpenTracing API, so this approach isn't going to work.

I think there is a much simpler solution. You can add a static handler to the loggers which will access the current span from the thread-local storage using `tracer.scope_manager.active_span`. This way no changes to the tracing code are required at all.

[2020-05-27 07:25] oldman1991 opened #282 "create the same trace_id"
now， i am use jaeger-client with flask, I start my application with gunicorn my python version is 3.7 . jaeger-client version is 4.3. flask version is 1.1.1 here is my code:
`

        request = stack.top.request
        operation_name = request.endpoint
        headers = {}
        for k, v in request.headers:
            headers[k.lower()] = v
       try:
            span_ctx = self.tracer.extra

[2020-05-27 10:39] oldman1991 commented on #282
I think I have solved him. In my global trace, there is a span that failed to close properly. When I create a new span, I should specify ignore_active_span to True, and the default is False. It will set your active span to you. The parent of the span
`
    def start_span(self,
                   operation_name=None,
                   child_of=None,
                   references=None,

[2020-05-27 10:39] #282 closed

[2020-06-04 06:01] PSauerborn commented on #264
What are you using for your Jaeger Setup? By default, the Jaeger tracer will look for a Jaeger Agent process deployed on localhost, which wont work if, say, you are running a Jaeger Agent and Application in separate containers. Localhost from the point of view of the application container is not the same as localhost from your local machine, so it really depends entirely on your Jaeger setup is

W

[2020-06-08 15:28] ykvichare opened #283 "Unable see traces with HTTPS Jaeger endpoint in C#"
I am using below code for connecting HTTPS Jaeger endpoint in C#. Unable to see traces . could you please help on this?

 if (GlobalTracer.IsRegistered()) {
                return GlobalTracer.Instance;
            }

            var endpoint = "https://localhost:14268/api/traces";
            var remoteReporter = new RemoteReporter.Builder()
                .WithLoggerFactory(loggerFactory) // op

[2020-06-15 02:39] Renz2018 opened #284 "Feat request: Support W3C Trace Context header"
see [jaegertracing/jaeger#855](https://github.com/jaegertracing/jaeger/issues/855)
[W3C trace context](https://www.w3.org/TR/trace-context/) now is "W3C Recommendation 06 February 2020"

[2020-06-15 03:36] yurishkuro commented on #284
up for grabs

[2020-06-17 16:56] erikjohnston commented on #235
I've had a bit of a look at this, and it seems relatively easy to be able to move all the tornado specific logic into a single class. AFAICT there are basically two things that tornado does:

1. Periodic calls to fetch JSON config from a service for the sampler and throttler.
2. Actually reporting spans.

One thing I realised while doing that was its relatively easy to just insert your own `Report

[2020-06-17 17:29] yurishkuro commented on #235
@erikjohnston reporter & sampler are already pluggable, the tracer takes them as arguments, and the tracer itself has no tornado dependency afair.

The Span type passed to the reporter is the native Span object, not the Thrift-generated type, even though some of the data elements in the Span are thrift-like (namely, tags are already converted to Thrift-compatible object because having an intermedi

[2020-06-17 18:15] erikjohnston commented on #235
If there is a guarantee on the API interface of `Reporter` and co then that is fab! I've not seen that mentioned anywhere (or even examples initialising the `Tracer` directly), though I may be missing something.

[2020-06-17 19:02] yurishkuro commented on #235
Probably because the recommended way to create tracer is via Config, but creating it manually requires sampler and reporter, so the capability is already there:

https://github.com/jaegertracing/jaeger-client-python/blob/2bb9d0ca9fc2e0517226b632de0f83866d3984c8/jaeger_client/tracer.py#L44-L46

[2020-06-24 20:55] obi1kenobi commented on #235
I'd love to see this happen, since my project is not using `tornado` but is suffering from `DeprecationWarnings` as a result of it. If I am reading the warnings correctly, the combination of `jaeger-client==4.3.0` and `opentracing-instrumentation==3.3.1` with its `tornado>=4.1,<6` [dependency](https://github.com/uber-common/opentracing-python-instrumentation/blob/3.3.1/setup.py#L36) will cause my

[2020-07-01 07:15] v-yzakapko commented on #98
Hey! Is there some news about it. I need to use tracing via HTTP and it will be good to use it with OT. Maybe somebody has any idea how to implement it using the https://github.com/open-telemetry/opentelemetry-python or combining opentelemetry and opentracing?

[2020-07-01 20:58] yurishkuro commented on #98
@v-yzakapko you can try OTEL->OT bridge (I have not tried it myself)

https://github.com/open-telemetry/opentelemetry-python/blob/04a9533ec6b8f5bbe2d41efc1ba1e92e51f1ca74/docs/examples/opentracing/README.rst

[2020-07-02 08:23] nerusnayleinad commented on #272
I'm facing the same issue. has anyone resolved it?

[2020-07-25 13:57] maxisme commented on #272
+1

[2020-07-25 14:02] maxisme commented on #272
Upgraded to python 3.8 from 3.7 now it works!

[2020-07-29 08:37] ptrhck commented on #98
This would be a great feature! Is there any other Python opentracing client that can send spans over HTTP to Jaeger collector?

[2020-07-31 15:21] piotrmaslanka commented on #67
I've also just had a situation where replacing uwsgi with gunicorn made my spans go through, but only those spans made by Flask. Spans reported by different, background threads were working flawlessly.

[2020-08-27 11:15] kleysonr opened #287 "How to log (autolog) exceptions when using try/except ?"
Autologing works fine using the code below and I can see also the span set as a error in the Jaeger UI

[code]
But in case I use try/except clause, like the example below, jaeger is not reporting the span as error.
[code]
How can I force the jaeger client report the span as error and get a error span with a log exception event in the Jaeger UI ?

[2020-08-28 02:55] joncwong commented on #284
I can give this one a shot

[2020-09-10 17:04] mjpieters commented on #210
I've run into this too. I did not need to touch `_initialized` however.

I create a new tracer per process (where needed) with

[code]

This does not set the global tracer. You could set it instead of the current `Process` instance or on some other per-process object you track.

I am using the multiprocessing `SyncManager()` class to *proxy* my spans to a single process, and so only need a single

[2020-09-11 16:54] someshbhalsing commented on #272
+1

[2020-09-26 03:45] Tecktron commented on #284
Looking at the W3C spec, it seems that the list of To-Dos is as follow:
* set constant `TRACE_ID_HEADER` to use `traceparent` as default
* set constant `BAGGAGE_HEADER_PREFIX` to use `tracestate` as default.
* update the the output format of the `traceparent` header
* add the ability to handle different version formats of the `traceparent` in the future, with `00` being the only version currently

[2020-09-26 04:35] yurishkuro commented on #284
First, there's no need to change anything, the w3c should be a new codec, similar to Zipkin, because it uses a different encoding format from the default Jaeger encoding in TextCodec.

https://github.com/jaegertracing/jaeger-client-python/blob/7984b2872b09a36b7ea0ae6479035ed61666af30/jaeger_client/codecs.py#L213

The choice of the codec should be controlled by the JAEGER_PROPAGATION environment va

[2020-09-26 15:52] Tecktron commented on #284
@yurishkuro thank you very much for the insights into this. This clears up a lot of the fog around the landscape here. Given this knowledge, I agree the most reasonable path based on where everything currently is will be to support the additional codec.

Already knowing this is going to be work for me no matter what the choice was, I think it only makes sense then to placing my efforts here. In ot

[2020-09-29 09:41] CiCi503 commented on #98
Is this still going on ?  I want to use tracing within Serverless functions too, I can not tracing via UDP.

[2020-09-29 13:47] Giohn commented on #287
I also see curious behaviour. I have adapted the example code to demonstrate (I am using the all-in-one binary with this):

`tracer = config.initialize_tracer()

    do_stuff = lambda x: int(x)
    do_other_stuff = lambda x : print(x)

    with tracer.start_span('TestSpan') as span:
        span.log_kv({'event': 'test message', 'life': 42})
        with tracer.start_span('ChildSpan', child_of=span

[2020-09-29 15:19] yurishkuro commented on #287
@kleysonr if you're catching exception you need to log it to the span yourself.

@Giohn if you don't have control over code that creates b_span, then you can't affect anything on that span either, it's invisible to your code. But the code that starts a span and raises the error also has the option of logging that error to that span.

Closing this since none of these examples require changes to the

[2020-09-29 15:19] #287 closed

[2020-09-30 17:27] Tecktron commented on #284
@yurishkuro I need to write a few more tests for further coverage and do a little code cleanup/commenting (which is why I have not made a PR yet) but before continuing any further, I wanted to make sure that I was on the correct path not only in terms of implementation but also in terms of handling the standard.

Please see the compare:
https://github.com/jaegertracing/jaeger-client-python/compare

[2020-09-30 17:37] yurishkuro commented on #284
On a high level it looks ok (I couldn't leave comments in the code).

I am skeptical about needing the TraceState class. Jaeger span context mostly fits into `traceparent` field (1), so we only need to pass `tracestate` unchanged, which means we don't even need to parse it. It's probably more standard-compliant to parse it and reject when it's malformed than to send it out as malformed and get bla

[2020-09-30 18:36] Tecktron commented on #284
Thanks for the feedback. I've made it a draft PR instead of a compare so you can feel free to comment.
https://github.com/jaegertracing/jaeger-client-python/pull/288

I added the tracestate to keep trace of the traces, pushing the current span into, not knowing if anything else along the line in the stack might actually be using it. I figure it was better for compliance, just in case, even if we'r

[2020-09-30 21:04] yurishkuro commented on #284
Another day will probably never come, given the current state of OpenTelemetry :-)

[2020-10-07 14:26] Tecktron commented on #284
Sorry for the delay in getting back to this. I added more tests and have opened the PR for review, still awaiting the coverage report.
Cheers!

[2020-10-24 19:39] VictoryWekwa commented on #248
Hello, I am an outreachy applicant for this cohort. Please can I work on this issue if it is still open?

[2020-10-26 09:32] jpkrohling commented on #248
It's yours!

[2020-10-26 12:16] EaconTang opened #289 "max_number should be set correctly according to tracer.max_trace_id_bits"
## Requirement - what kind of business use case are you trying to solve?

I'm trying to use ProbabilisticSampler, but got a bug when in 128bit-traceID.

## Problem - what in Jaeger blocks you from solving the requirement?

Currently,  ProbabilisticSampler calculate by ```traceID < (samplingRate * 2^64)```, but if tracer is configure with 128bit, this could be wrong.
So I guess, ```self.max_number

[2020-10-26 12:34] #289 closed

[2020-10-26 12:35] EaconTang commented on #289
it' fine... my fault, just close it.

[2020-10-27 10:13] VictoryWekwa commented on #248
Hi @jpkrohling @yurishkuro @pavolloffay @tiffon @joe-elliott @black-adder @objectiser @vprithvi Please would you want to be included in the maintainer's file for this repository?

[2020-10-27 10:17] objectiser commented on #248
@VictoryWekwa no

[2020-10-27 10:24] jpkrohling commented on #248
No from me as well.

[2020-10-27 14:13] yurishkuro commented on #248
What are we trying to communicate through this file?

[2020-10-27 14:23] VictoryWekwa commented on #248
Hello, To list maintainers/codeowners, so I  am trying to get the list of codeowners that will be available. After which I can update the PR.

[2020-10-27 15:48] jpkrohling commented on #248
I think we can tackle this in a different manner: given that the list of maintainers from this repository is the same as quite a few other repositories, it would probably be better to create a .github repository, like what the OpenTelemetry folks did. In this repo, we can add a MAINTAINERS.

I don't think it makes sense for codeowners, though.

[2020-10-27 17:54] yurishkuro commented on #248
What would MAINTAINERS file signify? Basically, I think we need to be careful with having realistic expectations.

[2020-10-27 19:51] jpkrohling commented on #248
The list of maintainers for a repository isn't public, from what I know. Besides, having a maintainers file brings clarity to the community about who is an effective maintainer in which repositories. This repo here is an example: I don't really feel qualified to merge PRs here, even though I have the powers to.

[2020-10-27 19:52] yurishkuro commented on #248
@VictoryWekwa please list me as the only maintainer for now.

[2020-10-27 19:53] yurishkuro commented on #248
@jpkrohling then .github/MAINTAINERS doesn't make much sense, since it will indicate a larger group responsible for ALL Jaeger repos, which is not the case.

[2020-10-27 19:57] jpkrohling commented on #248
The .github/MAINTAINERS would only contain the "at jaegertracing/jaeger-maintainers" group, which is the only set of maintainers/admins for quite a few repositories. I think we might have extra people on a few repositories, so, we can override those first.

[2020-10-28 08:37] VictoryWekwa commented on #248
Alright. Will do.

[2020-11-19 17:24] presize-florian commented on #246
Any updates on this?

[2020-11-20 02:02] obataku commented on #50
@yurishkuro is there a reason `await`-ing the `Future` from `Tracer.close()` (in the context of an event loop of course) would be insufficient to flush everything? waiting for the queue to drain (as `Reporter._flush` does with `yield self.queue.join()`) *sounds* like it would work but your comment here (as well as @nziebart's [here](https://github.com/jaegertracing/jaeger-client-python/issues/246)

[2020-11-20 02:42] yurishkuro commented on #50
@obataku I don't know the underlying cause, it doesn't seem to work.

[2020-11-23 07:00] tx19980520 commented on #98
Have you found an alternative solution now?

[2020-11-23 08:07] ptrhck commented on #98
You can use OpenTelemetry as the client: https://opentelemetry-python.readthedocs.io/en/stable/exporter/jaeger/jaeger.html

[2020-12-02 04:00] yurishkuro opened #295 "Migrate CI from Travis to GitHub Actions"
We're having issues with Travis across jaegertracing org and need to move to GH actions.

Similar ticket (with many PRs) in the backend repo: https://github.com/jaegertracing/jaeger/issues/2645

* [x] convert unit tests #296
* [x] convert crossdock test
* [ ] update badges in the README
* [x] change required checks to new GH jobs
* [x] remove travis config

[2020-12-07 02:30] #295 closed

[2020-12-12 08:37] akzincsystems opened #299 "Error running simple asyncio example"
## Requirement - what kind of business use case are you trying to solve?

Running jaeger tracing with asyncio. Intention is to run functions in AWS Lambda.

## Problem - what in Jaeger blocks you from solving the requirement?

Error gets thrown:
Traceback (most recent call last):
  File "/home/xxx/PycharmProjects/JaegerTest/main.py", line 55, in <module>
    tracer.close()
  File "/home/xxx/Pychar

[2020-12-12 15:56] yurishkuro commented on #299
cc @obataku not sure if it's related

[2020-12-12 21:52] obataku commented on #299
thanks for pinging @yurishkuro; this doesn't appear to be directly related to my change in #294 fortunately

@akzincsystems I believe the problem here is that [`asyncio.run`](https://docs.python.org/3/library/asyncio-task.html#asyncio.run) will explicitly close the event loop after completion of `main()` whereas `tracer.close()` ultimately tries to initialize a new `Future` [here](https://github.c

[2020-12-19 18:28] obataku commented on #299
hi @akzincsystems, any luck with the above suggestions?

[2020-12-19 19:24] akzincsystems commented on #299
@obataku   Sorry, chap - that didn't work. Late in the night here - will revisit

[2020-12-20 00:44] akzincsystems commented on #299
@obataku Got to it.
- Don't think asyncio.sleep() does anything
- await tracer.close() seems to work

here's refactored code (added prometheus in - not a factor)
[code]

[2020-12-24 00:13] obataku commented on #299
happy to hear it's working for you, @akzincsystems

unfortunately a minor `sleep` before `close`-ing _is_ currently necessary if you want to ensure that your `Root` span you just finished gets a chance to be reported (at least until #294 lands in a release). if unreliability there isn't a factor though you can feel free to not `sleep`, but be aware that you may drop some!

[2021-01-25 11:45] PatrikSteuer commented on #284
What is the state of this? It still seem to be stuck ;)

[2021-01-26 13:58] electrofelix opened #302 "Use if isinstance dict has issues with requests.structures.CaseInsensitiveMapping"
## Requirement - what kind of business use case are you trying to solve?

Use jaeger tracing with recent requests library to trace results in a Traceback that looks like:
[code]

## Problem - what in Jaeger blocks you from solving the requirement?

It appears that the client library is performing checks to ensure it is being passed a subclass of dict which fails due to requests using a custom clas

[2021-01-27 06:07] Tecktron commented on #284
I recently switched companies which has left me with little to no time to come back to this at the moment and while I will come back to this, it may not be for soon. Feel free to pickup where I left off on the PR. However, with all the changes required you might be better off using it as a jumping point and starting from scratch.

[2021-02-23 13:05] ghevge opened #303 "How can I disable INFO jaeger loggings, in a tornado integration ?"
## Requirement - what kind of business use case are you trying to solve?

I would like to know how to stop jaeger from polluting my app logs.

## Problem - what in Jaeger blocks you from solving the requirement?

I have a tornado application in which I use jaeger for tracing.
jaeger-client==4.3.0
tornado==6.0.4

My problem is that jaeger keeps logging at the INFO level, tons of entries like this :

[2021-02-23 15:00] yurishkuro commented on #303
"Reporting span" logs are only done when you ask for them via config or by directly wiring logging reporter.

[2021-02-23 15:10] ghevge commented on #303
I can disable all the jaeger logging, by setting logging: False in the config. But I don't want that. I just want to disable INFO log entries. (Basically controlling the logging level). And that's the part that I'm not able to figure it out.

[2021-02-23 15:20] yurishkuro commented on #303
Logging: false disables logging of spans only

[2021-02-23 15:22] ghevge commented on #303
So, in case of errors, I will be safe if I'll set Logging: false in the config  ?

[2021-02-23 15:29] ghevge commented on #303
Thanks! Clear now!

[2021-02-23 15:45] #303 closed

[2021-03-22 18:49] sergiomacedo commented on #284
Hello @Tecktron. Any hope you'll be able to come back to this?

Cheers.

[2021-04-15 06:28] Tecktron commented on #284
Sorry for the long delay, yes, I should be able to get back to this in the next coming month.

[2021-05-07 08:52] jckling opened #305 "two sperate traces are aggregated into one, warning duplicate span IDs"
## Requirement - what kind of business use case are you trying to solve?

I'm currently tracing OpenStack glance, and I have rewritten jaeger reporter and sampler with eventlet. It works fine and I can get spans.

The problem is when I start glance, it will fork 4 child process. Then I execute openstack command line repeatedly,  the spans are logged as duplicate and aggregated into old trace.

##

[2021-05-07 09:16] jckling commented on #305
I have insert my middleware in glance-api-paste.ini, so the request will passthrough it. I only use `child_of` relation.

[code]

[2021-05-07 14:35] yurishkuro commented on #305
Most likely forking is the cause. For wsgi based services tracer should be instantiated post-fork. This is mentioned in the readme.

[2021-05-08 01:34] jckling commented on #305
Yes, I see that in the readme. But instantiated after all child processes, I have no span received.

[2021-05-08 02:44] yurishkuro commented on #305
what makes this "after fork" in the code?

In the logs you only see one tracer being instantiated, I would expect 4, one for each child.

Also, the Jaeger SDK is strongly dependent on Tornado, I don't know how that would interact with your setup (asyncio, etc.)

[2021-05-08 02:52] jckling commented on #305
I modified middleware as https://github.com/jaegertracing/jaeger-client-python/issues/210#issuecomment-494730171, everytime the middleware will initialize a new tracer. I could receive spans, and execute openstack command lines repeatedly is fine.

[code]

It seems a little redundant, I don't know.

Since I could receive spans, I lose the reference in the trace. I have extract and transmit span in

[2021-05-08 03:00] jckling commented on #305
OK, I will figure out how to. I should learn more about `os.fork()`, just don't know where to instantiate tracers.

I found `os.fork()` in this part of wsgi server class:

[code]

I replace tornado with eventlet, because glance is dependent on eventlet and it has used `eventlet.patcher.monkey_patch()`.

[2021-05-08 03:41] jckling commented on #305
Finally, I solved it.

I instantiated 4 tracer for each child process, just before calling `eventlet.wsgi.server` and I also instantiated 1 tracer in the first (or father/original?) process. Totally, I have instantiated 5 tracer, all using the same code:

[code]

And the middleware is simple, just use https://github.com/jaegertracing/jaeger-client-python/issues/305#issuecomment-834200597

Trasmiti

[2021-05-12 13:30] gionapaolini commented on #224
I'm having the same issue, is there an update on this?

[2021-05-12 15:00] yurishkuro opened #306 "Remove support for Python 2.x"
## Requirement - what kind of business use case are you trying to solve?

I want green CI.

## Problem - what in Jaeger blocks you from solving the requirement?

Dependencies are starting to drop support for Python 2.7, which is EOL since 2020-01-01

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Remove 2.7 from CI, only test with 3.x

[2021-05-14 20:02] #306 closed

[2021-05-14 20:35] #224 closed

[2021-05-15 20:40] yurishkuro opened #309 "Remove use of `six` module"
Since py2 support was removed in #307, we don't need to be using py2-py3 compatible syntax, which is achieved via module `six`.

This issue is to track removal of the use of this module from the code.

Note that some dependent libraries may still use it, e.g. we do not need to touch the code in `jaeger_client/thrift_gen/*`, but at least in the main code of the client we should stop using `six`.

c

[2021-05-16 00:38] cedy commented on #309
Yeap, I'll clean it

[2021-05-16 15:40] #309 closed

[2021-05-20 15:44] condorcet opened #311 "python_requires should be specified"
## Requirement - what kind of business use case are you trying to solve?

Installing jaeger-client in Python 2

## Problem - what in Jaeger blocks you from solving the requirement?

jaeger-client>=4.5.0 is not support Python 2.x, but still could installed by pip on this Python because lack of `python_requires` in setup.py.

It cause the following problem:
[code]

## Proposal - what do you suggest

[2021-06-23 09:04] abhinavg97 commented on #259
#310 Removing six would mean jaeger_client no longer supports python2 since the urllib module is not available for python2. @yurishkuro

[2021-06-23 14:40] yurishkuro commented on #259
python2 support has been removed

[2021-06-23 14:40] #259 closed

[2021-06-29 05:47] Kaxarov commented on #272
Try with python3 manage.py install -r requirements.txt

[2021-07-14 18:17] #165 closed

[2021-07-15 14:11] #311 closed

[2021-07-16 12:47] ethframe commented on #165
Are there any chances that a package with the fix will be released soon?

[2021-07-16 15:15] yurishkuro commented on #165
https://pypi.org/project/jaeger-client/4.6.0/

[2021-07-19 11:09] gionapaolini commented on #282
@oldman1991 I have the same issue. In my case this only happen after more than 5 concurrent requests to the service. Did you find the cause for your span not closing properly?

[2021-07-29 02:34] tungdam commented on #284
Hi @Tecktron  any news on this ?
Thanks in advance

[2021-08-02 19:18] zhichli commented on #284
@yurishkuro a bit off-topic question: could you please tell how to enable W3C tracing context in Jaeger Go client (which is used by our Grafana instance) because I could not find how ? All I found was to enable 128 bit traceId that is compatible with W3C, but it seems that the W3C traceparent header is not recognizable in Jaeger Go client from what I see in the source code and my test. I have some

[2021-08-02 21:23] yurishkuro commented on #284
@zhichli it's not supported by Go client yet.

[2021-08-11 19:34] kasium opened #319 "Add type hints"
## Requirement - what kind of business use case are you trying to solve?

As you might know many python3 only packages already have type hints present based on the typing module. Afterwards the types can be checked e.g. with mypy. It would be great if you could add type hints and mark the package as types (aka add a py.typed file)

## Problem - what in Jaeger blocks you from solving the requiremen

[2021-08-18 09:15] choeffer opened #320 "ValueError: Unknown sampler type remote"
**Describe the bug**

As mentioned in https://www.jaegertracing.io/docs/1.18/sampling/ and https://www.jaegertracing.io/docs/1.18/client-features/ it should be possible to use `sampler.type=remote`. But Python fails with an error while initializing the config.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. use the example from https://github.com/jaegertracing/jaeger-client-python#ge

[2021-08-18 12:50] choeffer commented on #320
# Analysis

1. https://github.com/jaegertracing/jaeger-client-python/blob/master/jaeger_client/config.py#L363

   `tracer = self.new_tracer(io_loop)`

   creates a new tracer.

2. https://github.com/jaegertracing/jaeger-client-python/blob/master/jaeger_client/config.py#L368L374

[code]

   calls https://github.com/jaegertracing/jaeger-client-python/blob/master/jaeger_client/config.py#L221L235

[co

[2021-08-18 13:45] yurishkuro commented on #320
Would you like to submit a fix?

[2021-08-19 07:31] choeffer commented on #320
@yurishkuro I will give it a try. I have a rough idea what how to fix it.

[2021-08-23 15:28] AudriusButkevicius commented on #50
Is this still relevant given the merged PR?

[2021-09-02 18:15] kasium commented on #319
@yurishkuro I'm happy to give a contribution a try. However, I guess with the current support python versions it will get hard. I would recommend to drop at least python 3.5 support if not even 3.6. What do you think?

[2021-09-02 18:43] yurishkuro commented on #319
yes, it's fine to raise min supported version (in separate PR)

[2021-09-03 10:30] Etienne-Carriere opened #323 "Manage specific Sampler with Jaeger Config"
## Requirement - what kind of business use case are you trying to solve?

I would like to use custom Sampler with Jaeger Config (builder)

## Problem - what in Jaeger blocks you from solving the requirement?

Currently in Jaeger Config, it is only possible to set a dict to sampler parameter and so not able to able custom Sampler

## Proposal - what do you suggest to solve the problem or improve th

[2021-09-03 11:17] kasium commented on #319
So, should I just change the setup.py file or also other stuff?

[2021-09-03 13:17] yurishkuro commented on #319
Also GitHub actions

[2021-09-08 17:00] kasium commented on #319
@yurishkuro so I see the following needed types

- [X] reporter ( #333 )
- [ ] config ( #334 )
- [X] util ( #326 )
- [X] tracer ( #328 )
- [ ] span
- [ ] metircs
- [ ] throttler
- [ ] sampler

Can you please check if something is missing or is too much

[2021-09-08 17:10] yurishkuro commented on #319
yep, looks just right

[2021-09-09 18:12] kasium commented on #319
@yurishkuro I currently hit an issue with my latest types (local change)

[code]

This happens because `tracer.py` imports `span.py`, but `span.py` needs `tracer.py` to type the constructor. So I would need the `if TYPE_CHECKING` construct which will decrease the coverage

[2021-09-09 18:18] yurishkuro commented on #319
Does mypy have any means of adding types without explicit imports?

If no other solution, we'd have to take a hit on the coverage.

[2021-09-09 18:33] yurishkuro commented on #319
I am curious why it works when `TYPE_CHECKING` is true, doesn't it still create a circular import?

what I meant was if there is a way to specify types in quotes as fully qualified names, to bypass the need for import.

[2021-09-09 18:37] kasium commented on #319
So, how mypy resolves import is whole chapter, but no, this doesn't result in circular imports. Putting names in quotes just helps to resolve reference issues or if imports should/can not be resolved during runtime but still imports are needed.

For examples, this will fail with an unknown reference
[code]

This will also fail
[code]

This will work
[code]

[2021-09-09 18:53] #323 closed

[2021-09-09 20:19] yurishkuro commented on #319
I should've asked from the start - what is your exit criteria for this ticket? Was there some specific task you were trying to do that would benefit from types?

[2021-09-09 20:22] kasium commented on #319
Valid and good question. I would say this ticket is done if all public API as discussed above is types, a `py.typed` is added (really minor task) and the whole stuff is released.

I used this project somewhere else and I would like to benefit from the types

[2021-09-09 23:59] alvassin opened #337 "IPv6 support"
Currently jaeger_client is not flexible enough - [it is not possible](https://github.com/jaegertracing/jaeger-client-python/blob/master/jaeger_client/TUDPTransport.py#L31) to specify ipv6 socket.

Could you please add such support? I could do PR by myself, but i am not sure what is the best way to implement it.

Of course, it would be much more flexible to pass socket object, that could be configu

[2021-09-10 00:11] yurishkuro commented on #337
I'd go with `reporting_host_use_ipv6`, unless it can be determined automatically from the look of the address.

[2021-09-10 15:31] yurishkuro commented on #319
so looks like this is done?

[2021-09-10 17:41] yurishkuro commented on #319
released as 4.7.0

[2021-09-10 17:41] #319 closed

[2021-09-10 17:43] yurishkuro commented on #323
released in 4.7.0

[2021-09-11 08:47] kasium commented on #319
Great, thanks a lot!

[2021-09-12 07:24] alvassin commented on #337
@yurishkuro, I've made PR, but perhaps better way is just to use `sock.AF_UNSPEC` [instead of `sock.AF_INET`](https://github.com/jaegertracing/jaeger-client-python/blob/master/jaeger_client/TUDPTransport.py#L31)?
It should work out-of-the-box, what do you think?

[2021-09-14 02:54] #337 closed

[2021-09-14 06:42] alvassin commented on #337
@yurishkuro, thank you very much for your time! Could you please release ipv6 version on pypi?

[2021-09-14 21:09] yurishkuro commented on #337
https://pypi.org/project/jaeger-client/4.8.0/

[2021-09-14 21:24] alvassin commented on #337
Thank you very much!

[2021-09-15 06:04] kasium commented on #50
@obataku so if I understand your PR right, simply doing `yield trace.stop()` should help?

[2021-09-17 07:25] alvassin opened #341 "Python jaeger client generates too long id for spans, that can't be encoded using thrift"
Thrift declares that `spanId`, `traceIdLow` and `traceIdHigh` are [64-bit signed integers](https://github.com/jaegertracing/jaeger-idl/blob/master/thrift/jaeger.thrift#L48). (thrift has [no support for unsigned types](https://thrift.apache.org/docs/types#base-types)).

So, i expected that `spanId`/`traceIdLow`/`traceIdHigh` would have `bit_length()` for such numbers `<= 63`.

But jaeger python cli

[2021-09-17 12:49] yurishkuro commented on #341
Are you facing any specific problem? We handle the signed int conversion in thrift.py id-to-int

[2021-09-17 17:53] alvassin commented on #341
@yurishkuro problem is that span/trace id reported from service to service is different from span/trace id sent (and stored) to jaeger?

Imagine somebody would like to write a new client for jaeger in some new language. Thrift contract declares that there is signed 64 int. So developer expect to receive serialized 64 signed int from parent span, but receives unsigned one and can't use this span in

[2021-09-17 19:13] yurishkuro commented on #341
Sorry, I don't follow. Jaeger IDs are just 64-bit binaries. We chose to represent them as i64 in Thrift for efficiency reasons. It doesn't matter that i64 is signed because it can still losslessly represent 64bit values, just with a different interpretation when you look at the values as actual ints.

If someone writes a new client, the Jaeger requirement is that it must handle full 64bit values,

[2021-09-20 21:20] alvassin commented on #341
Thank you for response

[2021-09-20 21:20] #341 closed

[2021-09-24 08:42] dreamer820 opened #342 "no"
In order for this dep to remain here, you need to import it in `tools.go`

_Originally posted by @yurishkuro in https://github.com/jaegertracing/jaeger/pull/3038#discussion_r640210407_

[2021-09-24 08:42] dreamer820 commented on #342
git@github.com:twilio/hurl2.git

[2021-09-24 14:19] #342 closed

[2021-11-19 21:16] KazakovDenis opened #344 "Feat request: Adding flexibility to configuration"
It's very sad, that Jaeger will no longer be supported, but I hope the next suggestions will help those who will continue using it. Jaeger is awesome and helps me a lot.

## Requirement - what kind of business use case are you trying to solve?

Adding extensibility to the Jaeger client. It will be easier for users to customize the Jaeger client for their specific situations.

## Problem - what in

[2021-11-23 13:20] vlad-ivanov-name commented on #246
For anyone stumbling upon this in 2021, opentelemetry library doesn't seem to have this problem. I was able to reproduce this example with no issues: https://opentelemetry-python.readthedocs.io/en/latest/getting-started.html#configure-exporters-to-emit-spans-elsewhere

[2022-01-07 17:30] zyxue opened #345 "Can jaeger-client-python talk to Jaeger collector directly?"
I am trying to find the equivalent config of `JAEGER_ENDPOINT` as in jaeger-client-java: https://github.com/jaegertracing/jaeger-client-java/tree/master/jaeger-core#configuration-via-environment, which says

is this supported in jaeger-client-python?

[2022-01-07 18:08] yurishkuro commented on #345
correct.

[2022-01-07 18:08] #345 closed

[2022-01-10 19:14] #198 closed

[2022-01-10 19:14] #205 closed

[2022-01-10 19:14] #210 closed

[2022-01-10 19:14] #229 closed

[2022-01-10 19:14] #232 closed

[2022-01-10 19:14] #235 closed

[2022-01-10 19:14] #240 closed

[2022-01-10 19:14] #246 closed

[2022-01-10 19:14] #248 closed

[2022-01-10 19:14] #252 closed

[2022-01-10 19:14] #263 closed

[2022-01-10 19:14] #264 closed

[2022-01-10 19:14] #265 closed

[2022-01-10 19:14] #266 closed

[2022-01-10 19:14] #270 closed

[2022-01-10 19:14] #271 closed

[2022-01-10 19:14] #272 closed

[2022-01-10 19:14] #273 closed

[2022-01-10 19:14] #276 closed

[2022-01-10 19:14] #279 closed

[2022-01-10 19:14] #284 closed

[2022-01-10 19:14] #299 closed

[2022-01-10 19:14] #302 closed

[2022-01-10 19:14] #320 closed

[2022-01-10 19:14] #344 closed

[2022-01-10 19:14] #4 closed

[2022-01-10 19:14] #22 closed

[2022-01-10 19:14] #31 closed

[2022-01-10 19:14] #50 closed

[2022-01-10 19:14] #60 closed

[2022-01-10 19:14] #72 closed

[2022-01-10 19:14] #98 closed

[2022-01-10 19:14] #128 closed

[2022-01-10 19:14] #138 closed

[2022-01-10 19:14] #144 closed

[2022-01-10 19:14] #145 closed

[2022-01-10 19:14] #152 closed

[2022-01-10 19:14] #157 closed

[2022-01-10 19:14] #161 closed

[2022-01-10 19:14] #185 closed

[2022-01-10 19:14] #187 closed

[2022-01-10 19:14] #191 closed

[2022-01-10 19:14] #193 closed

[2022-03-24 16:24] ktoolss commented on #259
@yurishkuro Hi, I'm new to configuring. I'm trying to use "from jaeger_client import Config" in a python 2.7 app, but I'm getting this error

with tracer.start_active_span('say-hello') as scope:
AttributeError: 'NoneType' object has no attribute 'start_active_span'

Is this because python2 support ended? Would you be able to recommend which versions of jaeger client and opentracing I can use in py

[2022-03-24 16:36] yurishkuro commented on #259
you can check the changelog to see in which version this PR was merged, and use the version before that.

[2022-06-15 10:57] adeadman commented on #31
I see this is now closed as complete, but the latest version of setup.py still includes both tornado and threadloop in `install_requires`. As such they are still required dependencies, right? Looking at threadloop it appears to be a dead project (last updated April 2016, code owner GH profile says "retired") and not supported past Python 3.5. Is there any way to install jaeger-client without patch

[2022-06-27 14:05] dmazin commented on #149
@nziebart Hi! This issue is from 4 years ago, but I just wanted to thank you for 1) identifying a common issue 2) actually following up with a PR. And thank you, maintainers, for being receptive and for merging the PR :-D